In [1]:
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
from selenium import webdriver
import time
import pandas as pd

In [41]:
def get_jobs(num_jobs):
    try:

        '''Gathers jobs as a dataframe, scraped from Glassdoor'''

        #Initializing the webdriver
        options = webdriver.ChromeOptions()

        #Uncomment the line below if you'd like to scrape without a new Chrome window every time.
        #options.add_argument('headless')

        #giving path of cromedriver
        driver = webdriver.Chrome(executable_path="C:/Users/lenovo/Downloads/chromedriver_win32/chromedriver", options=options)
        driver.set_window_size(1120, 1000)
        #chnage the url according tou your requirement
        #https://www.glassdoor.co.in/Job/data-scientist-jobs-SRCH_KO0,14.htm
        url = 'https://www.glassdoor.co.in/Job/data-scientist-jobs-SRCH_KO0,14_IP31.htm'
        driver.get(url)
        jobs = []
#-----------------------------------------------------------------------------------------------------------------------
        while len(jobs) < num_jobs:  #If true, should be still looking for new jobs.

            #Let the page load. Change this number based on your internet speed.
            #Or, wait until the webpage is loaded, instead of hardcoding it.
            time.sleep(6)

            #Test for the "Sign Up" prompt and get rid of it.
    #         try:
    #             driver.find_element_by_class_name("selected").click()
    #         except ElementClickInterceptedException:
    #             pass

    #         time.sleep(.1)

    #         try:
    #             driver.find_element_by_class_name("ModalStyle__xBtn___29PT9").click()  #clicking to the X.
    #         except NoSuchElementException:
    #             pass
    
#------------------------------------------------------------------------------------------------------------------------    
            #click on the x when there is a pop up for creat job alert by a mail
            try:
                driver.find_element_by_xpath("//*[@id='JAModal']/div/div[2]/span").click()  #clicking to the X.
            except Exception as e:
                #print(e)
                pass 

            #Going through each job in this page
            job_buttons = driver.find_elements_by_class_name("jl")  #jl for Job Listing. These are the buttons we're going to click.
            for job_button in job_buttons:  

                print("Progress: {}".format("" + str(len(jobs)) + "/" + str(num_jobs)))
                if len(jobs) >= num_jobs:
                    break
                try:
                    job_button.click()  #You might 
                    time.sleep(1)
                    collected_successfully = False
                except Exception as e:
                    #print(e)
                    pass
                while not collected_successfully:
                    try:
                        company_name = driver.find_element_by_xpath('.//div[@class="employerName"]').text
                        location = driver.find_element_by_xpath('.//div[@class="location"]').text
                        job_title = driver.find_element_by_xpath('.//div[contains(@class, "title")]').text
                        job_description = driver.find_element_by_xpath('.//div[@class="jobDescriptionContent desc"]').text
                        collected_successfully = True
                    except Exception as e:
                        #print(e)
                        time.sleep(5)


                try:
                    rating = driver.find_element_by_xpath('.//span[@class="rating"]').text
                except NoSuchElementException:
                    rating = -1 #You need to set a "not found value. It's important."

    #----------------------------------------------------------------------------------------------------------------                
                try:
                    #//*[@id="Details"]/div[1]/div[1]/div/div/div[4]
                    #.//div[@class="tab" and @data-tab-type="salary"]
                    #//*[@id="JAModal"]/div/div[2]/span
                    driver.find_element_by_xpath('.//*[@id="Details"]/div[1]/div[1]/div/div/div[4]').click()

                    try:
                        #<div class="hideHH alignRt avgSalaryCol">
                        #  <div class= "strong">
                        #  </div>
                        #</div>
                        salary_estimate = driver.find_element_by_xpath('.//div[@class="hideHH alignRt avgSalaryCol"]//div[@class= "strong"]').text
                    except Exception as e:
                        #print(e)
                        salary_estimate = -1 
                except Exception as e:
                    #print(e)
                    salary_estimate=-1
    #--------------------------------------------------------------------------------------------------------------------------
   

                #Going to the Company tab...
                #clicking on this:
                #<div class="tab" data-tab-type="overview"><span>Company</span></div>
                try:
                   
                    #.//div[@class="tab" and @data-tab-type="overview"]
                    driver.find_element_by_xpath('//*[@id="Details"]/div[1]/div[1]/div/div/div[2]').click()

                    try:
                        #<div class="infoEntity">
                        #    <label>Headquarters</label>
                        #    <span class="value">San Francisco, CA</span>
                        #</div>
                        headquarters = driver.find_element_by_xpath('.//div[@class="infoEntity"]//label[text()="Headquarters"]//following-sibling::*').text
                    except Exception as e:
                        #print(e)
                        headquarters = -1

                    try:
                        size = driver.find_element_by_xpath('.//div[@class="infoEntity"]//label[text()="Size"]//following-sibling::*').text
                    except Exception as e:
                        #print(e)
                        size = -1

                    try:
                        founded = driver.find_element_by_xpath('.//div[@class="infoEntity"]//label[text()="Founded"]//following-sibling::*').text
                    except Exception as e:
                        #print(e)
                        founded = -1

                    try:
                        type_of_ownership = driver.find_element_by_xpath('.//div[@class="infoEntity"]//label[text()="Type"]//following-sibling::*').text
                    except Exception as e:
                        #print(e)
                        type_of_ownership = -1

                    try:
                        industry = driver.find_element_by_xpath('.//div[@class="infoEntity"]//label[text()="Industry"]//following-sibling::*').text
                    except Exception as e:
                        #print(e)
                        industry = -1

                    try:
                        sector = driver.find_element_by_xpath('.//div[@class="infoEntity"]//label[text()="Sector"]//following-sibling::*').text
                    except Exception as e:
                        #print(e)
                        sector = -1

                    try:
                        revenue = driver.find_element_by_xpath('.//div[@class="infoEntity"]//label[text()="Revenue"]//following-sibling::*').text
                    except Exception as e:
                        #print(e)
                        revenue = -1

                    try:
                        competitors = driver.find_element_by_xpath('.//div[@class="infoEntity"]//label[text()="Competitors"]//following-sibling::*').text
                    except Exception as e:
                        #print(e)
                        competitors = -1

                except Exception as e:
                    #print(e)
                    #Rarely, some job postings do not have the "Company" tab.
                    headquarters = -1
                    size = -1
                    founded = -1
                    type_of_ownership = -1
                    industry = -1
                    sector = -1
                    revenue = -1
                    competitors = -1

#-------------------------------------------------------------------------------------------------------------------------
                jobs.append({"Job Title" : job_title,
                "Salary Estimate" : salary_estimate,
                "Job Description" : job_description,
                "Rating" : rating,
                "Company Name" : company_name,
                "Location" : location,
                "Headquarters" : headquarters,
                "Size" : size,
                "Founded" : founded,
                "Type of ownership" : type_of_ownership,
                "Industry" : industry,
                "Sector" : sector,
                "Revenue" : revenue,
                "Competitors" : competitors})
                #add job to jobs

            #Clicking on the "next page" button
            try:
                driver.find_element_by_xpath('.//li[@class="next"]//a').click()
            except Exception as e:
                #print(e)
                print("Scraping terminated before reaching target number of jobs. Needed {}, got {}.".format(num_jobs, len(jobs)))
                break

            time.sleep(.1)
            
        #This line converts the dictionary object into a pandas DataFrame.
        return pd.DataFrame(jobs)
    
    except Exception as e:
        #print(e)
        pass

## I have use the above script 5 time to get the data in crunches as per my internet speed and computational speed.
## I have scrapped data 5 time and store the data in5 dataframes and then finally concate then to a big data.
* I have change the link every time i run (give the url of next page before which i have scraped the data)

In [21]:
df1 = get_jobs(180)
df1

Progress: 0/180
Progress: 1/180
Progress: 2/180
Progress: 3/180
Progress: 4/180
Progress: 5/180
Progress: 6/180
Progress: 7/180
Progress: 8/180
Progress: 9/180
Progress: 10/180
Progress: 11/180
Progress: 12/180
Progress: 13/180
Progress: 14/180
Progress: 15/180
Progress: 16/180
Progress: 17/180
Progress: 18/180
Progress: 19/180
Progress: 20/180
Progress: 21/180
Progress: 22/180
Progress: 23/180
Progress: 24/180
Progress: 25/180
Progress: 26/180
Progress: 27/180
Progress: 28/180
Progress: 29/180
Progress: 30/180
Progress: 31/180
Progress: 32/180
Progress: 33/180
Progress: 34/180
Progress: 35/180
Progress: 36/180
Progress: 37/180
Progress: 38/180
Progress: 39/180
Progress: 40/180
Progress: 41/180
Progress: 42/180
Progress: 43/180
Progress: 44/180
Progress: 45/180
Progress: 46/180
Progress: 47/180
Progress: 48/180
Progress: 49/180
Progress: 50/180
Progress: 51/180
Progress: 52/180
Progress: 53/180
Progress: 54/180
Progress: 55/180
Progress: 56/180
Progress: 57/180
Progress: 58/180
Progress: 59/180
Progress: 60/180
Progress: 61/180
Progress: 62/180
Progress: 63/180
Progress: 64/180
Progress: 65/180
Progress: 66/180
Progress: 67/180
Progress: 68/180
Progress: 69/180
Progress: 70/180
Progress: 71/180
Progress: 72/180
Progress: 73/180
Progress: 74/180
Progress: 75/180
Progress: 76/180
Progress: 77/180
Progress: 78/180
Progress: 79/180
Progress: 80/180
Progress: 81/180
Progress: 82/180
Progress: 83/180
Progress: 84/180
Progress: 85/180
Progress: 86/180
Progress: 87/180
Progress: 88/180
Progress: 89/180
Progress: 90/180
Progress: 91/180
Progress: 92/180
Progress: 93/180
Progress: 94/180
Progress: 95/180
Progress: 96/180
Progress: 97/180
Progress: 98/180
Progress: 99/180
Progress: 100/180
Progress: 101/180
Progress: 102/180
Progress: 103/180
Progress: 104/180
Progress: 105/180
Progress: 106/180
Progress: 107/180
Progress: 108/180
Progress: 109/180
Progress: 110/180
Progress: 111/180
Progress: 112/180
Progress: 113/180
Progress: 114/180
Progress: 115/180
Progress: 116/180
Progress: 117/180
Progress: 118/180
Progress: 119/180
Progress: 120/180
Progress: 121/180
Progress: 122/180
Progress: 123/180
Progress: 124/180
Progress: 125/180
Progress: 126/180
Progress: 127/180
Progress: 128/180
Progress: 129/180
Progress: 130/180
Progress: 131/180
Progress: 132/180
Progress: 133/180
Progress: 134/180
Progress: 135/180
Progress: 136/180
Progress: 137/180
Progress: 138/180
Progress: 139/180
Progress: 140/180
Progress: 141/180
Progress: 142/180
Progress: 143/180
Progress: 144/180
Progress: 145/180
Progress: 146/180
Progress: 147/180
Progress: 148/180
Progress: 149/180
Progress: 150/180
Progress: 151/180
Progress: 152/180
Progress: 153/180
Progress: 154/180
Progress: 155/180
Progress: 156/180
Progress: 157/180
Progress: 158/180
Progress: 159/180
Progress: 160/180
Progress: 161/180
Progress: 162/180
Progress: 163/180
Progress: 164/180
Progress: 165/180
Progress: 166/180
Progress: 167/180
Progress: 168/180
Progress: 169/180
Progress: 170/180
Progress: 171/180
Progress: 172/180
Progress: 173/180
Progress: 174/180
Progress: 175/180
Progress: 176/180
Progress: 177/180
Progress: 178/180
Progress: 179/180

,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,Size,Type of ownership
0,Buckman\n3.5,-1,1945,"Memphis, TN",Chemical Manufacturing,Job Description – Data Scientist\n\nLocation: ...,Data Scientist,Chennai,3.5,₹50 to ₹100 billion (INR),₹27K - ₹29K,Manufacturing,1001 to 5000 employees,Company - Private
1,Blue Yonder\n4.3,"SAP, Oracle, Manhattan Associates",1985,"Scottsdale, AZ",Enterprise Software & Network Solutions,What You Should Expect\n\nTo ride the wave of ...,Data Scientist,Bengaluru,4.3,₹100 to ₹500 billion (INR),"₹1,712K - ₹1,846K",Information Technology,5001 to 10000 employees,Company - Private
2,PayPal\n3.6,"Square, Amazon, Apple",1998,"San Jose, CA",Internet,Provide analytical insights into emerging prob...,Data Scientist,Bengaluru,3.6,₹500+ billion (INR),₹220K - ₹236K,Information Technology,10000+ employees,Company - Public
3,Amazon\n4.2,"Google, Microsoft, Walmart",1994,"Seattle, WA",Internet,"At Amazon, we strive to be most customer-centr...",Data Scientist,Hyderabad,4.2,₹500+ billion (INR),"₹ 15,49,198",Information Technology,10000+ employees,Company - Public
4,Accenture\n3.9,"Cognizant Technology Solutions, EY, McKinsey &...",1989,"Dublin, Ireland",Consulting,NA,Data Scientist,Mumbai,3.9,₹500+ billion (INR),"₹ 10,55,493",Business Services,10000+ employees,Company - Public
5,IHS Markit\n3.5,"Thomson Reuters, International Data Group",2016,"London, United Kingdom",Consulting,Responsibilities for Data Scientist\nWork with...,Data Scientist,Gurgaon,3.5,₹100 to ₹500 billion (INR),"₹2,001K - ₹2,193K",Business Services,10000+ employees,Company - Public
6,Quanticate\n4.0,"GCE Solutions, Parexel, IQVIA",1995,"Hitchin, United Kingdom",Biotech & Pharmaceuticals,Overview\n\n\nWe have an exciting opportunity ...,Data Scientist,Bengaluru,4.0,₹1 to ₹5 billion (INR),₹409K - ₹449K,Biotech & Pharmaceuticals,201 to 500 employees,Company - Private
7,NICE Actimize\n3.9,"SAS, Feedzai",1999,"Hoboken, NJ",Computer Hardware & Software,Senior Data Scientist\n\nResponsibilities\nCon...,Data Scientist,Pune,3.9,Unknown / Non-Applicable,"₹2,236K - ₹2,439K",Information Technology,501 to 1000 employees,Subsidiary or Business Segment
8,TTEC\n3.4,"Teleperformance, TaskUs, Convergys",1982,"Englewood, CO",Staffing & Outsourcing,"When everything's connected, how we connect is...",Data Scientist,Hyderabad,3.4,₹100 to ₹500 billion (INR),"₹ 24,171/mo",Business Services,10000+ employees,Company - Public
9,Doubtnut\n3.7,-1,2016,"Gurgaon, India",Internet,We are looking for a Data Engineer who will wo...,Data Engineer (ETL),Gurgaon,3.7,Unknown / Non-Applicable,₹17K - ₹19K,Information Technology,51 to 200 employees,Company - Private
10,CIEL HR Services\n4.5,-1,2015,"Bengaluru, India",Staffing & Outsourcing,Job Description\nKey points about the position...,CIEL/SEL/13651: Data Scientist,Bengaluru,4.5,₹1 to ₹5 billion (INR),"₹ 14,819/mo",Business Services,201 to 500 employees,Company - Private
11,Credit Suisse\n3.8,"UBS, J.P. Morgan, Goldman Sachs",1856,"ZÜRICH, Switzerland",Investment Banking & Asset Management,We are a department\nwhich values Diversity an...,Data Scientist - NLP - Internal Audit #153992,Pune,3.8,₹500+ billion (INR),"₹ 14,01,995",Finance,10000+ employees,Company - Public
12,IBM\n3.9,"Amazon, Accenture, Microsoft",1911,"Armonk, NY",IT Services,"Introduction\nAs a Data Scientist at IBM, you ...",DATA SCIENTIST,Gurgaon,3.9,₹500+ billion (INR),"₹ 12,49,740",Information Technology,10000+ employees,Company - Public
13,Wipro Limited\n3.6,"Cognizant Technology Solutions, Tata Consultan...",1945,"Bengaluru, India",IT Services,For Data Scientist Developer role:\n1.Strong p...,Data Scientist,Bengaluru,3.6,₹500+ billion (INR),"₹ 8,68,746",Information Technology,10000+ employees,Company - Public
14,Entytle\n4.6,-1,2014,"Palo Alto, CA",Enterprise Software & Network Solutions,Click to Apply\n\nCompany Description\n\nEntyt...,Data Scientist,Pune,4.6,Unknown / Non-Applicable,₹709K - ₹756K,Information Technology,1 to 50 employees,Company - Private
15,Tata Insights and Quants\n4.0,-1,1980,"Zug, Switzerland",Architectural & Engineering Services,COMPANY OVERVIEW\nTata Group is an Indian mult...,Data Scientist,Mumbai,4.0,Unknown / Non-Applicable,"₹1,895K - ₹2,039K",Business Services,10000+ employees,Unknown
16,Oracle\n3.6,"SAP, Salesforce, Microsoft",1977,"Redwood City, CA",Enterprise Software & Network Solutions,Description\n\nSHIFT: Day Job\n\nSCHEDULE: Ful...,Data Scientist,Bengaluru,3.6,₹500+ billion (INR),"₹ 24,92,586",Information Technology,10000+ employees,Company - Public
17,Turbolab Technologies\n5.0,-1,2014,"Kochi, India",Internet,"Back-end Python Engineer who will write, test,...",Data Scientist,Kochi,5.0,Unknown / Non-Applicable,₹298K - ₹943K,Information Technology,51 to 200 employees,Company - Private
18,inteliment\n4.0,-1,-1,"Pune, India",IT Services,JOB DESCRIPTION\n\nData Scientist\n\nRole : Da...,Data Scientist,Pune,4.0,₹1 to ₹5 billion (INR),"₹ 26,913/mo",Information Technology,51 to 200 employees,Company - Private
19,Walt Disney Company\n3.9,"News Corp, WarnerMedia, NBCUniversal",1923,"Burbank, CA",Film Production & Distribution,JOB DESCRIPTION\n</b></u></h2>\n\nKEY RESPONSI...,Data Scientist,Mumbai,3.9,₹500+ billion (INR),₹ 146.62/hr,Media,10000+ employees,Company - Public
20,Northcorp Software Pvt. Ltd.\n4.8,-1,-1,"New Delhi, India",-1,"Tools and Technologies - SAS, R, Python, SPSS,...",Data Scientist,Gurgaon,4.8,Unknown / Non-Applicable,₹17K - ₹19K,-1,1 to 50 employees,Company - Private
21,Mercedes-Benz Research and Development India P...,"Volkswagen, Tata Motors",1996,"Chakan, India",IT Services,Job Description: Data Scientist\n\nEducation &...,Data Scientist,Bengaluru,3.4,₹10 to ₹50 billion (INR),"₹1,017K - ₹1,114K",Information Technology,1001 to 5000 employees,Company - Private
22,Agnik\n4.8,-1,-1,"Columbia, MD",Computer Hardware & Software,Position: Data Scientist (Intern)\nStatus: Ope...,Data Scientist,India,4.8,₹10 to ₹50 million (INR),-1,Information Technology,1 to 50 employees,Company - Private
23,Shell\n4.0,"ExxonMobil, BP, Chevron",1907,"Houston, TX",Oil & Gas Exploration & Production,Job Title\nData Scientist\n\n26-May-2020\n\nNo...,Data Scientist,Chennai,4.0,₹500+ billion (INR),"₹3,993K - ₹4,370K","Oil, Gas, Energy & Utilities",10000+ employees,Company - Public
24,Bookmyshow\n3.6,-1,2007,"Mumbai, India",Ticket Sales,Data Scientist,Data Scientist,Mumbai,3.6,Unknown / Non-Applicable,"₹ 6,25,333","Arts, Entertainment & Recreation",1001 to 5000 employees,Company - Private
25,Eyeota\n3.1,"Lotame, Krux",2010,"Singapore, Singapore",Advertising & Marketing,Eyeota is looking for an exceptional Data Scie...,Data Scientist,Pune,3.1,Unknown / Non-Applicable,-1,Business Services,51 to 200 employees,Company - Private
26,Nitor Infotech\n3.4,-1,2006,"Pune, India",IT Services,Experience : 3 – 8 Years\n\nLocation : India –...,Data Scientist,Pune,3.4,Unknown / Non-Applicable,"₹ 4,59,994",Information Technology,201 to 500 employees,Company - Private
27,Tata Communications\n3.8,-1,-1,"Mumbai, India","Cable, Internet & Telephone Providers",Job Family Descriptor\nLevel Descriptor\nData ...,Data Scientist,Mumbai,3.8,₹500+ billion (INR),"₹ 10,02,388",Telecommunications,5001 to 10000 employees,Company - Public
28,"AppZen, Inc.\n3.5",-1,2012,"San Jose, CA",Financial Transaction Processing,AppZen delivers the world’s leading AI platfor...,Data Scientist,Pune,3.5,₹500 million to ₹1 billion (INR),₹288K - ₹313K,Finance,201 to 500 employees,Company - Private
29,Stark Inc.\n3.1,"BAE Systems USA, MITRE, Raytheon Technologies",1972,"Cambridge, MA",Aerospace & Defence,"As a Data Science Associate Manager at PayPal,...",Data Scientist,New Delhi,3.1,₹50 to ₹100 billion (INR),-1,Aerospace & Defence,1001 to 5000 employees,Non-profit Organisation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,WeRecruit Talent,-1,-1,-1,-1,Job Description :\nRequired competencies:\nPhd...,Data Scientist,Bengaluru,-1,-1,-1,-1,-1,-1
151,Indecomm Global Services India Private Limited...,-1,2003,"Edison, NJ",IT Services,SkillData Scientist\nExperience7-9yrs\nJob Loc...,Data Scientist,Bengaluru,3.1,₹10 to ₹50 billion (INR),"₹1,331K - ₹1,450K",Information Technology,1001 to 5000 employees,Company - Private
152,ECS\n3.0,-1,-1,"Jersey City, NJ",-1,Description\n\nKey Responsibilities: Team lead...,Data Scientist,Chennai,3.0,Unknown / Non-Applicable,-1,-1,Unknown,Company - Private
153,Aptus Health\n3.4,-1,2008,"Reading, MA",Advertising & Marketing,Position: Data Scientist\n\nAbout us: WebMD He...,Data Scientist,Mumbai,3.4,Unknown / Non-Applicable,₹625K - ₹676K,Business Services,201 to 500 employees,Company - Private
154,Matelabs Innovations Pvt. Ltd.,-1,-1,-1,-1,About Mate Labs (https://www.matelabs.ai/):\n\...,Data Scientist,Bengaluru,-1,-1,-1,-1,-1,-1
155,Amazon Dev Center India - Hyd,-1,-1,-1,-1,5+ years of experience in software development...,Data Scientist,Hyderabad,-1,-1,-1,-1,-1,-1
156,SumTotal\n2.9,-1,1998,"Gainesville, FL",Computer Hardware & Software,Data Scientist\n\nAre you passionate about lea...,Data Scientist,Hyderabad,2.9,₹5 to ₹10 billion (INR),"₹ 9,67,608",Information Technology,1001 to 5000 employees,Subsidiary or Business Segment
157,Shiras HR Advisory & Services,-1,-1,-1,-1,Apply Now\n\nUnderstanding and experience with...,Data Scientist,Bengaluru,-1,-1,-1,-1,-1,-1
158,Shree Consultancy Services,-1,-1,"VADODRA (BARODA - INDIA), India",Consulting,Msc Statistics with 2 to 5 yrs experience as d...,Data Scientist,Pune,-1,Unknown / Non-Applicable,-1,Business Services,1 to 50 employees,Company - Private
159,Quincus\n5.0,-1,-1,"Singapore, Singapore",-1,“Make every logistics journey your best one ye...,Data Scientist,New Delhi,5.0,Unknown / Non-Applicable,₹388K - ₹414K,-1,Unknown,Company - Private
160,Innominds Software\n3.1,"GlobalLogic, Persistent Systems (India), Mobica",2003,"San Jose, CA",Computer Hardware & Software,Experienced professional or an active research...,Data Scientist,Hyderabad,3.1,₹1 to ₹5 billion (INR),"₹1,190K - ₹1,283K",Information Technology,501 to 1000 employees,Company - Private
161,Joulestowatts business solutions\n3.2,-1,2015,"Bengaluru, India",IT Services,"Deep learning (RNN/CNN/LSTM),transfer learning...",Data Scientist,Mumbai,3.2,Unknown / Non-Applicable,₹705K - ₹763K,Information Technology,1001 to 5000 employees,Company - Private
162,BrandIdea Consultancy P Ltd\n2.5,-1,-1,"Mumbai, India",-1,"Perform data-mining, modeling and hypothesis g...",Data Scientist,Chennai,2.5,Unknown / Non-Applicable,₹623K - ₹675K,-1,1 to 50 employees,Company - Private
163,Baker Hughes\n3.6,-1,-1,"Houston, TX",Oil & Gas Services,Role Summary/Purpose:\nThe Data Scientist will...,Data Scientist,Bengaluru,3.6,₹500+ billion (INR),"₹ 26,610/mo","Oil, Gas, Energy & Utilities",10000+ employees,Company - Public
164,Pinnacle Digital Analytics\n2.5,-1,-1,"New Delhi, India",-1,Be part of a strong team of data scientists wo...,Data Scientist,New Delhi,2.5,Unknown / Non-Applicable,₹5K - ₹6K,-1,1 to 50 employees,Company - Private
165,Emerging India Group\n1.0,-1,-1,"Noida, India",-1,We are looking for a data scientist with an ex...,Data Scientist,India,1.0,Unknown / Non-Applicable,-1,-1,51 to 200 employees,Company - Private
166,big tree,-1,-1,"Großostheim, Germany",-1,Experience : 2+ years\n\nWhat will you do:\nSh...,Data Scientist,Mumbai,-1,Unknown / Non-Applicable,-1,-1,Unknown,Company - Private
167,TheMathCompany\n4.2,-1,2016,"Bengaluru, India",Consulting,Job Description – Associate - Data Science\n\n...,Data Sciences - Associate,Bengaluru,4.2,Unknown / Non-Applicable,"₹ 6,03,794",Business Services,201 to 500 employees,Company - Private
168,Dasceq\n2.0,-1,-1,"Irving, TX",-1,About Dasceq\nDasceq is transforming collectio...,Data Scientist,India,2.0,Unknown / Non-Applicable,-1,-1,1 to 50 employees,Company - Private
169,Accrete.AI,-1,-1,"New York, NY",-1,"Location: Mumbai, India\nAbout Us\nMost of the...",Ai Scientist,Mumbai,-1,Unknown / Non-Applicable,-1,-1,1 to 50 employees,Company - Private
170,Cerentral Consultants,-1,-1,-1,-1,Responsibilities\n¢¢ Work closely with busines...,Data Scientist,Bengaluru,-1,-1,-1,-1,-1,-1
171,Cerentral Consultants,-1,-1,-1,-1,Responsibilities\n¢¢ Work closely with busines...,Data Scientist,Bengaluru,-1,-1,-1,-1,-1,-1
172,Cerentral Consultants,-1,-1,-1,-1,Responsibilities\n¢¢ Work closely with busines...,Data Scientist,Bengaluru,-1,-1,-1,-1,-1,-1
173,Cerentral Consultants,-1,-1,-1,-1,Responsibilities\n¢¢ Work closely with busines...,Data Scientist,Bengaluru,-1,-1,-1,-1,-1,-1
174,Cerentral Consultants,-1,-1,-1,-1,Responsibilities\n¢¢ Work closely with busines...,Data Scientist,Bengaluru,-1,-1,-1,-1,-1,-1
175,Cerentral Consultants,-1,-1,-1,-1,Responsibilities\n¢¢ Work closely with busines...,Data Scientist,Bengaluru,-1,-1,-1,-1,-1,-1
176,Staffio HR,-1,2015,"Bengaluru, India",Staffing & Outsourcing,"Exp: 2 - 7 years\n\nMust Haves: SAS, Python, M...",Data Scientist,Pune,-1,Unknown / Non-Applicable,-1,Business Services,1 to 50 employees,Company - Private
177,Tredence\n3.6,-1,2013,"San Jose, CA",Consulting,"CAREERS\n\nData Scientists\n\nBengaluru, India...",Data Scientists,Bengaluru,3.6,₹1 to ₹5 billion (INR),₹876K - ₹947K,Business Services,501 to 1000 employees,Company - Private
178,spineor webservices Pvt Ltd Mohali,-1,-1,-1,-1,We are hiring for Data Scientist/Data Engineer...,Data Scientist,SAS Nagar,-1,-1,-1,-1,-1,-1
179,Amazon\n4.2,"Google, Microsoft, Walmart",1994,"Seattle, WA",Internet,Amazon strives to be Earth's most customer-cen...,Senior Data Scientist,Bengaluru,4.2,₹500+ billion (INR),"₹2,906K - ₹3,134K",Information Technology,10000+ employees,Company - Public

In [22]:
df1.to_csv('df1.csv', index = False)

In [30]:
df2 = get_jobs(200)
df2

Progress: 0/200
Progress: 1/200
Progress: 2/200
Progress: 3/200
Progress: 4/200
Progress: 5/200
Progress: 6/200
Progress: 7/200
Progress: 8/200
Progress: 9/200
Progress: 10/200
Progress: 11/200
Progress: 12/200
Progress: 13/200
Progress: 14/200
Progress: 15/200
Progress: 16/200
Progress: 17/200
Progress: 18/200
Progress: 19/200
Progress: 20/200
Progress: 21/200
Progress: 22/200
Progress: 23/200
Progress: 24/200
Progress: 25/200
Progress: 26/200
Progress: 27/200
Progress: 28/200
Progress: 29/200
Progress: 30/200
Progress: 31/200
Progress: 32/200
Progress: 33/200
Progress: 34/200
Progress: 35/200
Progress: 36/200
Progress: 37/200
Progress: 38/200
Progress: 39/200
Progress: 40/200
Progress: 41/200
Progress: 42/200
Progress: 43/200
Progress: 44/200
Progress: 45/200
Progress: 46/200
Progress: 47/200
Progress: 48/200
Progress: 49/200
Progress: 50/200
Progress: 51/200
Progress: 52/200
Progress: 53/200
Progress: 54/200
Progress: 55/200
Progress: 56/200
Progress: 57/200
Progress: 58/200
Progress: 59/200
Progress: 60/200
Progress: 61/200
Progress: 62/200
Progress: 63/200
Progress: 64/200
Progress: 65/200
Progress: 66/200
Progress: 67/200
Progress: 68/200
Progress: 69/200
Progress: 70/200
Progress: 71/200
Progress: 72/200
Progress: 73/200
Progress: 74/200
Progress: 75/200
Progress: 76/200
Progress: 77/200
Progress: 78/200
Progress: 79/200
Progress: 80/200
Progress: 81/200
Progress: 82/200
Progress: 83/200
Progress: 84/200
Progress: 85/200
Progress: 86/200
Progress: 87/200
Progress: 88/200
Progress: 89/200
Progress: 90/200
Progress: 91/200
Progress: 92/200
Progress: 93/200
Progress: 94/200
Progress: 95/200
Progress: 96/200
Progress: 97/200
Progress: 98/200
Progress: 99/200
Progress: 100/200
Progress: 101/200
Progress: 102/200
Progress: 103/200
Progress: 104/200
Progress: 105/200
Progress: 106/200
Progress: 107/200
Progress: 108/200
Progress: 109/200
Progress: 110/200
Progress: 111/200
Progress: 112/200
Progress: 113/200
Progress: 114/200
Progress: 115/200
Progress: 116/200
Progress: 117/200
Progress: 118/200
Progress: 119/200
Progress: 120/200
Progress: 121/200
Progress: 122/200
Progress: 123/200
Progress: 124/200
Progress: 125/200
Progress: 126/200
Progress: 127/200
Progress: 128/200
Progress: 129/200
Progress: 130/200
Progress: 131/200
Progress: 132/200
Progress: 133/200
Progress: 134/200
Progress: 135/200
Progress: 136/200
Progress: 137/200
Progress: 138/200
Progress: 139/200
Progress: 140/200
Progress: 141/200
Progress: 142/200
Progress: 143/200
Progress: 144/200
Progress: 145/200
Progress: 146/200
Progress: 147/200
Progress: 148/200
Progress: 149/200
Progress: 150/200
Progress: 151/200
Progress: 152/200
Progress: 153/200
Progress: 154/200
Progress: 155/200
Progress: 156/200
Progress: 157/200
Progress: 158/200
Progress: 159/200
Progress: 160/200
Progress: 161/200
Progress: 162/200
Progress: 163/200
Progress: 164/200
Progress: 165/200
Progress: 166/200
Progress: 167/200
Progress: 168/200
Progress: 169/200
Progress: 170/200
Progress: 171/200
Progress: 172/200
Progress: 173/200
Progress: 174/200
Progress: 175/200
Progress: 176/200
Progress: 177/200
Progress: 178/200
Progress: 179/200
Progress: 180/200
Progress: 181/200
Progress: 182/200
Progress: 183/200
Progress: 184/200
Progress: 185/200
Progress: 186/200
Progress: 187/200
Progress: 188/200
Progress: 189/200
Progress: 190/200
Progress: 191/200
Progress: 192/200
Progress: 193/200
Progress: 194/200
Progress: 195/200
Progress: 196/200
Progress: 197/200
Progress: 198/200
Progress: 199/200
Progress: 200/200

,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,Size,Type of ownership
0,"o9 Solutions, Inc.\n3.3",-1,2009,"Dallas, TX",Enterprise Software & Network Solutions,Analytics/Data Scientist\n\n\nWe at o9 Solutio...,Analytical consultant/Data Scientist,Bengaluru,3.3,₹1 to ₹5 billion (INR),"₹ 9,58,654",Information Technology,201 to 500 employees,Company - Private
1,Jidoka Technologies,-1,-1,"Chennai, India",-1,We are looking for people with the right blend...,Data Scientist,Chennai,-1,Unknown / Non-Applicable,-1,-1,Unknown,Company - Private
2,RedLotus,-1,-1,"Kowloon City, Hong Kong",-1,Responsibilities:\nUndertake preprocessing of ...,Data Scientist,Mumbai,-1,Unknown / Non-Applicable,-1,-1,Unknown,Company - Private
3,Amazon\n4.2,"Google, Microsoft, Walmart",1994,"Seattle, WA",Internet,Amazon is investing heavily in building a worl...,Applied Scientist I,Bengaluru,4.2,₹500+ billion (INR),"₹ 14,70,896",Information Technology,10000+ employees,Company - Public
4,OYE Loans\n4.8,-1,-1,"Bengaluru, India",-1,Designation: Analytics Scientist\nExperience: ...,Analytics Scientist,Bengaluru,4.8,Unknown / Non-Applicable,"₹1,350K - ₹1,472K",-1,1 to 50 employees,Company - Private
5,Amazon\n4.2,"Google, Microsoft, Walmart",1994,"Seattle, WA",Internet,You are self-motivated. You think like an entr...,Data Engineer,Pune,4.2,₹500+ billion (INR),"₹ 14,95,245",Information Technology,10000+ employees,Company - Public
6,NOVIQUE HEALTH,-1,-1,"New Delhi, India",-1,Novique is a revolutionary online clinic start...,Data Scientist,Mumbai,-1,Unknown / Non-Applicable,-1,-1,Unknown,Company - Private
7,AGUILASS,-1,-1,-1,-1,"3- 6 Years – Hyderabad, Gurgaon\nJob Descripti...",Data Scientist,Hyderabad,-1,-1,-1,-1,-1,-1
8,SpringML\n4.4,-1,2015,"Pleasanton, CA",Enterprise Software & Network Solutions,"About SpringML\n\nAt SpringML, we are all abou...",Data Engineer,Hyderabad,4.4,Unknown / Non-Applicable,"₹1,489K - ₹1,602K",Information Technology,1 to 50 employees,Company - Private
9,Truecaller\n3.5,-1,2009,"Stockholm, Sweden",IT Services,About us :\n\nRemember the days when the phone...,Ads -Data Scientist,Bengaluru,3.5,Unknown / Non-Applicable,"₹2,426K - ₹3,366K",Information Technology,201 to 500 employees,Company - Private
10,Morningstar\n4.0,"Thomson Reuters, FactSet, Bloomberg L.P.",1984,"Chicago, IL",Financial Analytics & Research,Senior Data Scientist\nThe Group: Morningstar’...,Senior Data Scientist,Mumbai,4.0,₹100 to ₹500 billion (INR),"₹ 3,49,229",Finance,5001 to 10000 employees,Company - Public
11,Amazon\n4.2,"Google, Microsoft, Walmart",1994,"Seattle, WA",Internet,Excited by using massive amounts of data to de...,Senior Data Scientist - AWS Professional Services,India,4.2,₹500+ billion (INR),"₹ 14,70,896",Information Technology,10000+ employees,Company - Public
12,Regent Climate Connect Knowledge Solutions Pri...,-1,-1,-1,-1,Responsibilities\nTranslate high-level problem...,Data Scientist,Pune,-1,-1,-1,-1,-1,-1
13,Saffron Consultancy Services,-1,-1,"Gurgaon, India",-1,"Required Experience, Skills and Qualifications...",Data Scientist,New Delhi,-1,Unknown / Non-Applicable,-1,-1,Unknown,Company - Private
14,ADCI HYD 13 SEZ,-1,-1,-1,-1,"Bachelor's or Master’s degree in Statistics, A...",Data Scientist,Hyderabad,-1,-1,-1,-1,-1,-1
15,Poshmark\n4.9,-1,2011,"Redwood City, CA",Internet,Are you the type of person who feels they coul...,Data Analyst,Chennai,4.9,₹10 to ₹50 billion (INR),₹46K - ₹51K,Information Technology,201 to 500 employees,Company - Private
16,Flytxt Mobile Solutions\n3.8,-1,2007,"Trivandrum, India",Enterprise Software & Network Solutions,Qualification and Experience:M.Tech / M.E / MS...,Data Science Manager-R&D,Thiruvananthapuram,3.8,₹10 to ₹50 billion (INR),"₹ 6,55,339",Information Technology,201 to 500 employees,Company - Private
17,VMock Inc\n4.0,-1,2009,"Palo Alto, CA",Internet,Job Description\nLooking for Sr. Data Scientis...,Sr. Data Scientist,India,4.0,Unknown / Non-Applicable,"₹ 11,91,307",Information Technology,51 to 200 employees,Company - Private
18,NextNav\n3.4,-1,2007,"Sunnyvale, CA",Enterprise Software & Network Solutions,Position Summary\n\nNextNav is launching a gro...,Data Scientist / Senior Data Scientist,Bengaluru,3.4,₹1 to ₹5 billion (INR),-1,Information Technology,51 to 200 employees,Company - Private
19,Affine Analytics\n3.7,-1,2011,"Bengaluru, India",Consulting,Company Description\n\nAbout Affine\n\nAffine ...,Data Scientist - PhD,Bengaluru,3.7,Unknown / Non-Applicable,"₹ 6,77,428",Business Services,201 to 500 employees,Company - Private
20,Honeywell\n3.8,"GE, Johnson Controls, United Technologies",1885,"Charlotte, NC",Computer Hardware & Software,Driving Infinite Possibilities Within A Divers...,Data Engineer,Bengaluru,3.8,₹500+ billion (INR),₹376K - ₹813K,Information Technology,10000+ employees,Company - Public
21,Wadhwani AI\n4.0,-1,-1,"Mumbai, India",-1,An AI scientist at Wadhwani AI will build rese...,AI Scientist,Mumbai,4.0,Unknown / Non-Applicable,-1,-1,Unknown,Company - Private
22,TEG Analytics\n3.1,-1,2008,"Bengaluru, India",Consulting,Summary\n\n\nDo you get excited by intellectua...,Senior Data Scientist,Bengaluru,3.1,Unknown / Non-Applicable,"₹ 5,58,683",Business Services,51 to 200 employees,Company - Private
23,Techvantage Systems\n4.1,-1,-1,"New York, NY",-1,TechVantage is a product engineering company t...,Senior Data Scientist,Thiruvananthapuram,4.1,Unknown / Non-Applicable,₹474K - ₹512K,-1,1 to 50 employees,Company - Private
24,Rockwell Automation\n3.8,"Emerson, ABB, Siemens",1903,"Milwaukee, WI",Industrial Manufacturing,Position Title\nDA&I DATA ENGINEER\n\n05-May-2...,DA&I DATA ENGINEER,Noida,3.8,₹500+ billion (INR),"₹ 7,96,733",Manufacturing,10000+ employees,Company - Public
25,Involvio\n3.9,-1,-1,"New York, NY",Colleges & Universities,We are looking for a Data Scientist that will ...,Data Science Engineer,Bengaluru,3.9,Unknown / Non-Applicable,"₹1,911K - ₹2,086K",Education,1 to 50 employees,Company - Private
26,Phenom People\n4.3,-1,2011,"Ambler, PA",Computer Hardware & Software,JOB DESCRIPTION\n\nJob Responsibilities\n\nMac...,Machine Learning Scientist,Hyderabad,4.3,Unknown / Non-Applicable,"₹ 8,05,059",Information Technology,501 to 1000 employees,Company - Private
27,McAfee\n3.5,"Palo Alto Networks, NortonLifeLock, CrowdStrike",1987,"Santa Clara, CA",Computer Hardware & Software,Job Title:\nSenior Data Scientist and Machine ...,Senior Data Scientist and Machine Learning Eng...,Bengaluru,3.5,₹500+ billion (INR),"₹ 10,49,038",Information Technology,5001 to 10000 employees,Company - Private
28,Techmango Technology Services\n3.7,-1,2014,"Westchester, IL",IT Services,"Experience: 5+ years\n\nLocation: Madurai, Tam...",Machine Learning Engineer,Madurai,3.7,Unknown / Non-Applicable,₹768K - ₹825K,Information Technology,51 to 200 employees,Company - Public
29,CIEL HR Services\n4.5,-1,2015,"Bengaluru, India",Staffing & Outsourcing,Data Scientist Machine Learning/Python/C#\n3+ ...,CIEL/SEL/2317: Data Scientist Machine Learning,Bengaluru,4.5,₹1 to ₹5 billion (INR),"₹ 14,819/mo",Business Services,201 to 500 employees,Company - Private
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Danske IT and Support Services\n2.5,-1,2012,"Copenhagen, Denmark",IT Services,Work in the fascinating world of Markets IT wi...,Data Engineer,Bengaluru,2.5,Unknown / Non-Applicable,"₹ 8,52,726",Information Technology,1001 to 5000 employees,Subsidiary or Business Segment
171,Forgeahead\n3.4,-1,1999,"Pune, India",IT Services,Key Responsibilities:\nApply deep advanced ana...,Machine Learning/Data Scientist,Pune,3.4,₹100 to ₹500 million (INR),"₹ 9,25,818",Information Technology,51 to 200 employees,Company - Private
172,6sense\n4.9,-1,2013,"San Francisco, CA",Computer Hardware & Software,Revenue Operations Data Analyst\n\nJob Descrip...,Revenue Operations Data Analyst,Pune,4.9,Unknown / Non-Applicable,-1,Information Technology,51 to 200 employees,Company - Private
173,"FireEye, Inc.\n3.2","Palo Alto Networks, Tanium",2004,"Milpitas, CA",Computer Hardware & Software,Company Description\n\nFireEye is the leader i...,Staff Research Scientist,Bengaluru,3.2,Unknown / Non-Applicable,"₹ 25,24,538",Information Technology,1001 to 5000 employees,Company - Public
174,Paytm\n3.4,-1,2010,"Noida, India",Internet,1. Part of Paytm wallet web/app/customer analy...,Data Analyst,Noida,3.4,Unknown / Non-Applicable,₹19K - ₹21K,Information Technology,1001 to 5000 employees,Company - Private
175,Right Step Consulting,-1,-1,"Noida, India",Consulting,Industry: KPO / Research / Analytics\n\nLocati...,KPO Jobs In Gurgaon – Data Analyst,New Delhi,-1,Unknown / Non-Applicable,-1,Business Services,1 to 50 employees,Unknown
176,itForte\n5.0,-1,-1,"New Delhi, India",-1,"Founded in 1987 and listed on NASDAQ, our clie...",Data Analyst/Scientist,Gurgaon,5.0,Unknown / Non-Applicable,-1,-1,1 to 50 employees,Company - Private
177,IBM\n3.9,"Amazon, Accenture, Microsoft",1911,"Armonk, NY",IT Services,"Introduction\nAs a Data Scientist at IBM, you ...",Principal Data Scientist & Software Developmen...,Bengaluru,3.9,₹500+ billion (INR),"₹ 3,98,814",Information Technology,10000+ employees,Company - Public
178,Cervello Inc\n4.1,-1,2009,"Boston, MA",IT Services,Summary:\n\nYou have experience with client pr...,Data Engineer,Bengaluru,4.1,₹1 to ₹5 billion (INR),₹33K - ₹38K,Information Technology,51 to 200 employees,Company - Private
179,upGrad Education Private Limited\n3.7,"Udacity, General Assembly, Springboard",2015,"Mumbai, India",Education Training Services,About Us\n\nupGrad is an online education plat...,Senior Data Analyst,Mumbai,3.7,₹1 to ₹5 billion (INR),"₹ 6,85,000",Education,501 to 1000 employees,Company - Private
180,Fine Jobs\n5.0,-1,-1,"Mumbai, India",-1,Apply machine learning techniques to deliver a...,ANALYST-DATA SCIENCE-PYTHON,Mumbai,5.0,Unknown / Non-Applicable,-1,-1,1 to 50 employees,Company - Private
181,Nanobi Data & Analytics\n3.0,-1,-1,"Bangalore, India",Enterprise Software & Network Solutions,x\nData Analyst\n\nDesignation : Senior Data S...,Data Analyst,Bengaluru,3.0,Unknown / Non-Applicable,"₹ 3,53,494",Information Technology,1 to 50 employees,Company - Private
182,Synopsys\n4.1,"Cadence Design Systems, Mentor Graphics, Ansys",1986,"Mountain View, CA",Computer Hardware & Software,Business Title\nData Analyst II\n\n04-May-2020...,Data Analyst II,Bengaluru,4.1,₹100 to ₹500 billion (INR),"₹ 26,83,599",Information Technology,10000+ employees,Company - Public
183,PayPal\n3.6,"Square, Amazon, Apple",1998,"San Jose, CA",Internet,PayPals Next-Generation Platforms Consumer Ris...,Lead Decision Scientist,Bengaluru,3.6,₹500+ billion (INR),"₹ 12,37,149",Information Technology,10000+ employees,Company - Public
184,Altisource\n3.2,"Safeguard Global, Genpact Mortgage, Black Knight",2009,"Luxembourg, Luxembourg",Investment Banking & Asset Management,ARE YOU READY TO WORK AT ALTISOURCE?\nAre you ...,Senior Data Scientist,Bengaluru,3.2,₹50 to ₹100 billion (INR),"₹ 7,23,362",Finance,5001 to 10000 employees,Company - Public
185,Lymbyc Solutions\n3.5,-1,-1,"Bengaluru, India",-1,Description:\nBackground:\nLymbyc is the first...,Senior Data Scientist- AI,Bengaluru,3.5,Unknown / Non-Applicable,"₹1,141K - ₹1,232K",-1,51 to 200 employees,Company - Private
186,Société Générale\n3.5,"BNP Paribas, Natixis, Calyon Securities USA",1864,"Paris, France",Investment Banking & Asset Management,Profile Required\n\n1. Should have good hands-...,Principle Data Scientist - Business Consultant,Bengaluru,3.5,₹500+ billion (INR),"₹ 11,16,822",Finance,10000+ employees,Company - Public
187,Icertis\n4.2,"Selectica, SAP Ariba",2009,"Bellevue, WA",Enterprise Software & Network Solutions,"Icertis, the leading enterprise contract manag...",Associate Architect - Data Science,Pune,4.2,Unknown / Non-Applicable,"₹ 7,02,394",Information Technology,1001 to 5000 employees,Company - Private
188,Grid Logic Software Private Limited\n4.7,-1,2010,"Gurgaon, India",IT Services,We are looking for individuals who can turn da...,Data Scientist & Business Development,Hyderabad,4.7,Unknown / Non-Applicable,₹671K - ₹727K,Information Technology,501 to 1000 employees,Company - Private
189,ABB\n3.9,"GE, Siemens, Schneider Electric",1891,"Zurich, Switzerland",Electrical & Electronic Manufacturing,ABB is a global technology leader in industria...,Performance Analytics Manager - PGHV,Chennai,3.9,₹500+ billion (INR),"₹ 11,96,137",Manufacturing,10000+ employees,Company - Public
190,Uncap Research Labs\n4.0,-1,2018,"Gurgaon, India",Internet,ML Practice forms the core of our platform. If...,Machine Learning Engineer,Gurgaon,4.0,Unknown / Non-Applicable,-1,Information Technology,1 to 50 employees,Company - Private
191,Harjai Computers\n4.4,-1,-1,"Mumbai, India",Enterprise Software & Network Solutions,Opening For Data Scientist – Pune location\n3 ...,Data Scientist - Pune,Mumbai,4.4,Unknown / Non-Applicable,₹25K - ₹30K,Information Technology,201 to 500 employees,Company - Private
192,Unacademy\n4.2,-1,2015,"Bengaluru, India",Internet,"Unacademy is India’s largest, online learning ...",Data Analyst,Bengaluru,4.2,Unknown / Non-Applicable,"₹ 35,749/mo",Information Technology,51 to 200 employees,Company - Private
193,Oracle\n3.6,"SAP, Salesforce, Microsoft",1977,"Redwood City, CA",Enterprise Software & Network Solutions,Description\n\nSHIFT: Day Job\n\nSCHEDULE:\n\n...,Sr Data Scientist,Bengaluru,3.6,₹500+ billion (INR),"₹ 9,87,915",Information Technology,10000+ employees,Company - Public
194,Tata Insights and Quants\n4.0,-1,1980,"Zug, Switzerland",Architectural & Engineering Services,COMPANY OVERVIEW\nTata Group is an Indian mult...,Data Science Optimization,Mumbai,4.0,Unknown / Non-Applicable,"₹ 5,08,660",Business Services,10000+ employees,Unknown
195,altbalaji\n2.7,-1,-1,"Mumbai, India",-1,Department: AnalyticsQualification: BTech/BSc ...,Data Analyst,Mumbai,2.7,Unknown / Non-Applicable,₹23K - ₹26K,-1,51 to 200 employees,Company - Public
196,Novotree Minds Consulting Private Limited\n5.0,-1,2010,"Bengaluru, India",Staffing & Outsourcing,candidate should have experience in Analytics\...,data scientist,Bengaluru,5.0,Unknown / Non-Applicable,₹147K - ₹157K,Business Services,1 to 50 employees,Company - Private
197,Novotree Minds Consulting Private Limited\n5.0,-1,-1,"Bengaluru, India",-1,The Data Scientist will be part of the Core Da...,MASTER DATA SCIENTIST,Bengaluru,-1,Unknown / Non-Applicable,-1,-1,Unknown,Company - Private
198,Siemens Healthineers\n4.1,"GE Healthcare, Roche",1847,"Erlangen, Germany",Healthcare Services & Hospitals,Research Engineer - Data Analytics & Artificia...,Research Engineer - Data Analytics & Artificia...,Bengaluru,4.1,₹500+ billion (INR),"₹ 8,10,091",Healthcare,10000+ employees,Company - Public
199,Oracle\n3.6,"SAP, Salesforce, Microsoft",1977,"Redwood City, CA",Enterprise Software & Network Solutions,Description\n\nSHIFT: Day Job\n\nSCHEDULE:\n\n...,Data Scientist 2,Bengaluru,3.6,₹500+ billion (INR),"₹ 9,87,915",Information Technology,10000+ employees,Company - Public

In [31]:
df2.to_csv('df2.csv', index = False)

In [33]:
df3 = get_jobs(200)
df3

Progress: 0/200
Progress: 1/200
Progress: 2/200
Progress: 3/200
Progress: 4/200
Progress: 5/200
Progress: 6/200
Progress: 7/200
Progress: 8/200
Progress: 9/200
Progress: 10/200
Progress: 11/200
Progress: 12/200
Progress: 13/200
Progress: 14/200
Progress: 15/200
Progress: 16/200
Progress: 17/200
Progress: 18/200
Progress: 19/200
Progress: 20/200
Progress: 21/200
Progress: 22/200
Progress: 23/200
Progress: 24/200
Progress: 25/200
Progress: 26/200
Progress: 27/200
Progress: 28/200
Progress: 29/200
Progress: 30/200
Progress: 31/200
Progress: 32/200
Progress: 33/200
Progress: 34/200
Progress: 35/200
Progress: 36/200
Progress: 37/200
Progress: 38/200
Progress: 39/200
Progress: 40/200
Progress: 41/200
Progress: 42/200
Progress: 43/200
Progress: 44/200
Progress: 45/200
Progress: 46/200
Progress: 47/200
Progress: 48/200
Progress: 49/200
Progress: 50/200
Progress: 51/200
Progress: 52/200
Progress: 53/200
Progress: 54/200
Progress: 55/200
Progress: 56/200
Progress: 57/200
Progress: 58/200
Progress: 59/200
Progress: 60/200
Progress: 61/200
Progress: 62/200
Progress: 63/200
Progress: 64/200
Progress: 65/200
Progress: 66/200
Progress: 67/200
Progress: 68/200
Progress: 69/200
Progress: 70/200
Progress: 71/200
Progress: 72/200
Progress: 73/200
Progress: 74/200
Progress: 75/200
Progress: 76/200
Progress: 77/200
Progress: 78/200
Progress: 79/200
Progress: 80/200
Progress: 81/200
Progress: 82/200
Progress: 83/200
Progress: 84/200
Progress: 85/200
Progress: 86/200
Progress: 87/200
Progress: 88/200
Progress: 89/200
Progress: 90/200
Progress: 91/200
Progress: 92/200
Progress: 93/200
Progress: 94/200
Progress: 95/200
Progress: 96/200
Progress: 97/200
Progress: 98/200
Progress: 99/200
Progress: 100/200
Progress: 101/200
Progress: 102/200
Progress: 103/200
Progress: 104/200
Progress: 105/200
Progress: 106/200
Progress: 107/200
Progress: 108/200
Progress: 109/200
Progress: 110/200
Progress: 111/200
Progress: 112/200
Progress: 113/200
Progress: 114/200
Progress: 115/200
Progress: 116/200
Progress: 117/200
Progress: 118/200
Progress: 119/200
Progress: 120/200
Progress: 121/200
Progress: 122/200
Progress: 123/200
Progress: 124/200
Progress: 125/200
Progress: 126/200
Progress: 127/200
Progress: 128/200
Progress: 129/200
Progress: 130/200
Progress: 131/200
Progress: 132/200
Progress: 133/200
Progress: 134/200
Progress: 135/200
Progress: 136/200
Progress: 137/200
Progress: 138/200
Progress: 139/200
Progress: 140/200
Progress: 141/200
Progress: 142/200
Progress: 143/200
Progress: 144/200
Progress: 145/200
Progress: 146/200
Progress: 147/200
Progress: 148/200
Progress: 149/200
Progress: 150/200
Progress: 151/200
Progress: 152/200
Progress: 153/200
Progress: 154/200
Progress: 155/200
Progress: 156/200
Progress: 157/200
Progress: 158/200
Progress: 159/200
Progress: 160/200
Progress: 161/200
Progress: 162/200
Progress: 163/200
Progress: 164/200
Progress: 165/200
Progress: 166/200
Progress: 167/200
Progress: 168/200
Progress: 169/200
Progress: 170/200
Progress: 171/200
Progress: 172/200
Progress: 173/200
Progress: 174/200
Progress: 175/200
Progress: 176/200
Progress: 177/200
Progress: 178/200
Progress: 179/200
Progress: 180/200
Progress: 181/200
Progress: 182/200
Progress: 183/200
Progress: 184/200
Progress: 185/200
Progress: 186/200
Progress: 187/200
Progress: 188/200
Progress: 189/200
Progress: 190/200
Progress: 191/200
Progress: 192/200
Progress: 193/200
Progress: 194/200
Progress: 195/200
Progress: 196/200
Progress: 197/200
Progress: 198/200
Progress: 199/200
Progress: 200/200

,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,Size,Type of ownership
0,Innefu Labs Pvt. Ltd.\n4.3,-1,2010,"New Delhi, India",Enterprise Software & Network Solutions,Profile Brief/ Responsibilities\nKeep up-to-da...,DATA SCIENTIST,New Delhi,4.3,Unknown / Non-Applicable,₹899K - ₹968K,Information Technology,51 to 200 employees,Company - Private
1,The Data Team\n4.2,-1,-1,"Singapore, Singapore",-1,The Data Analyst is part of the consulting and...,DATA ANALYST,Bengaluru,4.2,Unknown / Non-Applicable,"₹655K - ₹1,073K",-1,51 to 200 employees,Company - Private
2,String Bio\n4.7,-1,-1,"Bengaluru, India",-1,Position: Research Associate/Research Scientis...,Research Associate/Research Scientist (Downstr...,Bengaluru,4.7,Unknown / Non-Applicable,₹43K - ₹47K,-1,1 to 50 employees,Company - Private
3,Ericsson-Worldwide\n3.9,"Huawei Technologies, IBM, Cisco Systems",1876,"Stockholm, Sweden",Telecommunications Services,"Date: Mar 30, 2020\n\nEricsson Overview:\n\nEr...",Principal Data Scientist - Product Development...,Bengaluru,3.9,₹500+ billion (INR),"₹ 4,77,984",Telecommunications,10000+ employees,Company - Public
4,CareerXperts,-1,-1,"Bangalore, India",-1,The focus of our data science team is to work ...,AI / ML Data Scientist – Democratize commerce ...,India,-1,Unknown / Non-Applicable,-1,-1,1 to 50 employees,Company - Private
5,"General Mills Services, Inc.",-1,-1,-1,-1,:\n\nGeneral Mills is reshaping the future of ...,Data Scientist III,Mumbai,-1,-1,-1,-1,-1,-1
6,TO THE NEW\n4.2,-1,2008,"Noida, India",IT Services,Responsibilities:\nA keen desire to solve busi...,Senior Data Scientist,Noida,4.2,₹1 to ₹5 billion (INR),"₹ 4,79,299",Information Technology,1001 to 5000 employees,Company - Private
7,TheMathCompany\n4.2,-1,2016,"Bengaluru, India",Consulting,"We, at TheMathCompany, enable data analytics t...",Data Engineering - Partner,Bengaluru,4.2,Unknown / Non-Applicable,"₹ 6,03,794",Business Services,201 to 500 employees,Company - Private
8,zBliss Technologies,-1,-1,-1,-1,Internship Cohort Team Size : 3\n\nApply Via N...,Data Scientist Intern,Bengaluru,-1,-1,-1,-1,-1,-1
9,ICL Systems\n4.7,-1,1992,"Irvine, CA",Consumer Products Manufacturing,ICL Systems is the leading provider of systems...,"Data Scientist, Advanced Analytics",Gurgaon,4.7,₹100 to ₹500 million (INR),-1,Manufacturing,1 to 50 employees,Company - Private
10,DTCC\n3.4,-1,1973,"New York, NY",Brokerage Services,About this Opportunity\n\nThe incumbent will b...,Risk Analytics - Machine Learning Engineer,Chennai,3.4,₹50 to ₹100 billion (INR),₹754K - ₹818K,Finance,1001 to 5000 employees,Company - Private
11,Applied Data Finance\n4.5,Avant,2014,"San Diego, CA",Lending,We are looking for a strong Senior Analyst/Sen...,Senior Data Scientist,Chennai,4.5,Unknown / Non-Applicable,"₹ 7,85,542",Finance,51 to 200 employees,Company - Private
12,Twilio\n3.9,-1,2008,"San Francisco, CA",Internet,"Because you belong at Twilio.\n\nThe Who, What...",Machine Learning Engineer - Customer Engagement,Bengaluru,3.9,₹100 to ₹500 billion (INR),"₹1,911K - ₹2,064K",Information Technology,1001 to 5000 employees,Company - Public
13,Evoke Technologies\n3.9,-1,2003,"Dayton, OH",IT Services,Strong background in statistics and machine le...,Senior Data Scientist,Hyderabad,3.9,₹1 to ₹5 billion (INR),"₹ 12,03,513",Information Technology,501 to 1000 employees,Company - Private
14,The Straits Network\n2.1,-1,2015,"Hong Kong, Hong Kong",Financial Analytics & Research,"At LYNK, we connect people with time-sensitive...",Senior Data Scientist - Natural Language Proce...,Hyderabad,2.1,Unknown / Non-Applicable,₹41K - ₹44K,Finance,51 to 200 employees,Company - Private
15,Escon Info Systems,-1,-1,"Lucknow, India",-1,Qualification : MCA or Bachelor's Degree in Co...,Data Scientist (Machine Learning),Barabanki,-1,Unknown / Non-Applicable,-1,-1,Unknown,Company - Private
16,Unbxd Inc\n3.8,-1,2011,"Bengaluru, India",Computer Hardware & Software,Description\n\nUnbxd is an AI-driven eCommerce...,Machine Learning Engineer,Bengaluru,3.8,Unknown / Non-Applicable,"₹ 16,53,576",Information Technology,51 to 200 employees,Company - Private
17,PayPal\n3.6,"Square, Amazon, Apple",1998,"San Jose, CA",Internet,"Responsibilities :\nLead, develop, and grow a ...",MTS 2 Data Engineer,Chennai,3.6,₹500+ billion (INR),"₹ 12,37,149",Information Technology,10000+ employees,Company - Public
18,Qualcomm\n3.9,"Intel Corporation, MediaTek, Broadcom",1985,"San Diego, CA",Computer Hardware & Software,Job Id\nE1981981\nJob Title QA Lead for Machin...,"QA Lead for Machine Learning( Engineer,Sr Staf...",Hyderabad,3.9,₹500+ billion (INR),"₹ 12,77,537",Information Technology,10000+ employees,Company - Public
19,Insigno Quipment\n2.5,-1,2002,"Ahmedabad, India",Research & Development,No. of Positions : 1\n\nTotal Relevant Experie...,Data Analyst,Ahmedabad,2.5,Unknown / Non-Applicable,"₹ 6,02,297",Business Services,51 to 200 employees,Company - Private
20,Astegic\n4.1,-1,2003,"Falls Church, VA",IT Services,Website\nAstegicInc Astegic\n\n\nFull Time\nJa...,Data Analyst,Jaipur,4.1,Unknown / Non-Applicable,₹38K - ₹41K,Information Technology,51 to 200 employees,Company - Private
21,Roljobs Technology Services Pvt Ltd\n3.7,-1,2002,"Bengaluru, India",Staffing & Outsourcing,We are seeking a Data Scientist for one of the...,DATA SCIENTIST - Machine Learning / Artificial...,Thiruvananthapuram,3.7,Unknown / Non-Applicable,"₹ 17,782/mo",Business Services,51 to 200 employees,Company - Private
22,ISO\n4.3,-1,1946,"Geneva, Switzerland",Research & Development,"Company Description\n\nISO, a Verisk business,...",Data Scientist II,Hyderabad,4.3,Unknown / Non-Applicable,-1,Business Services,51 to 200 employees,Company - Private
23,Kimberly-Clark\n3.9,"Procter & Gamble, Georgia-Pacific, Unilever",1872,"Irving, TX",Consumer Products Manufacturing,Junior Data Scientist\nJob Description\n\n\nTh...,Junior Data Scientist,Bengaluru,3.9,₹500+ billion (INR),₹164K - ₹178K,Manufacturing,10000+ employees,Company - Public
24,Sequoia Consulting Group\n3.8,-1,2001,"San Mateo, CA",Consulting,Sequoia was founded in the year 2001 by Greg G...,Data Engineer,Bengaluru,3.8,Unknown / Non-Applicable,₹21K - ₹23K,Business Services,201 to 500 employees,Company - Private
25,Bloom Consulting Services\n4.8,-1,2015,"Nagpur, India",IT Services,Roles and Responsibilities:\nExtracting and tr...,Data Science Engineer,Bengaluru,4.8,₹10 to ₹50 million (INR),-1,Information Technology,1 to 50 employees,Company - Private
26,Insurance Services Office\n3.4,LexisNexis Risk Solutions,1971,"Jersey City, NJ",Insurance Operators,"Company Description\n\nISO, a Verisk business,...",Data Scientist II,Hyderabad,3.4,₹50 to ₹100 billion (INR),-1,Insurance,5001 to 10000 employees,Subsidiary or Business Segment
27,Environmental Resources Management\n3.1,"AECOM, Golder Associates",1971,"London, United Kingdom",Consulting,ERM has an opportunity available for a Senior ...,Senior Data Scientist (Mid-Senior Level),Bengaluru,3.1,₹50 to ₹100 billion (INR),₹35K - ₹58K,Business Services,5001 to 10000 employees,Company - Private
28,Danaher Digital,-1,-1,-1,-1,Danaher Corporation\n\nDanaher is a global sci...,Data Scientist/Senior Data Scientist - Deep Le...,Bengaluru,-1,-1,-1,-1,-1,-1
29,Eclerx\n3.4,"Genpact, WNS, Convergys",2000,"Mumbai, India",Consulting,About eClerx:\nIndia’s leading process managem...,Digital - Associate Program Manager - Analytic...,Mumbai,3.4,₹10 to ₹50 billion (INR),"₹ 28,327/mo",Business Services,5001 to 10000 employees,Company - Public
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,TCG Digital\n3.0,-1,-1,"Somerset, NJ",-1,LocationIndia / US / EuropeExperience10+ Years...,Lead Data Scientist,India,3.0,Unknown / Non-Applicable,"₹ 18,319/mo",-1,201 to 500 employees,Company - Private
171,Paxcom India Pvt. Ltd\n3.7,-1,-1,"Gurgaon, India",-1,About Us:\n\nPaxcom a leading Digital Solution...,Machine Learning Engineer,New Delhi,3.7,Unknown / Non-Applicable,"₹ 4,21,511",-1,1 to 50 employees,Company - Private
172,PayPal\n3.6,"Square, Amazon, Apple",1998,"San Jose, CA",Internet,PayPals Next-Generation Platforms Consumer Ris...,Senior Decision Scientist,Bengaluru,3.6,₹500+ billion (INR),"₹ 12,37,149",Information Technology,10000+ employees,Company - Public
173,DigiCert\n3.8,"GlobalSign, Comodo, Entrust Datacard",2003,"Lehi, UT",IT Services,"COMPANY\n\nDigiCert, Inc.\n\nPOSITION\n\nData ...",Data Engineer,Bengaluru,3.8,₹10 to ₹50 billion (INR),"₹1,018K - ₹1,108K",Information Technology,1001 to 5000 employees,Company - Private
174,DigiCert\n3.8,"GlobalSign, Comodo, Entrust Datacard",2003,"Lehi, UT",IT Services,"COMPANY\n\nDigiCert, Inc.\n\nPOSITION\n\nData ...",Data Engineer,Bengaluru,3.8,₹10 to ₹50 billion (INR),"₹1,018K - ₹1,108K",Information Technology,1001 to 5000 employees,Company - Private
175,Emerging India Group\n1.0,-1,-1,"Noida, India",-1,We are looking for a senior Data Scientist wit...,Senior Data Scientist,India,1.0,Unknown / Non-Applicable,-1,-1,51 to 200 employees,Company - Private
176,Seagate Technology\n3.3,"Western Digital, Fujitsu",1979,"Cupertino, CA",Computer Hardware & Software,"About our group:\nWe are a proactive, highly s...",Data Science Platform Administrator,Pune,3.3,₹500+ billion (INR),"₹ 22,73,937",Information Technology,10000+ employees,Company - Public
177,Evolent Health\n2.8,-1,2011,"Arlington, VA",Healthcare Services & Hospitals,Analytics\n\nSr NLP & Text Mining Data Scienti...,Sr NLP & Text Mining Data Scientist,Pune,2.8,₹1 to ₹5 billion (INR),"₹832K - ₹1,276K",Healthcare,1001 to 5000 employees,Company - Public
178,Evolent Health\n2.8,-1,2011,"Arlington, VA",Healthcare Services & Hospitals,Analytics\n\nSr NLP & Text Mining Data Scienti...,Sr NLP & Text Mining Data Scientist,Pune,2.8,₹1 to ₹5 billion (INR),"₹832K - ₹1,276K",Healthcare,1001 to 5000 employees,Company - Public
179,Advanced Structures India Pvt Ltd\n3.6,-1,2014,"Bengaluru, India",Consulting,Bengaluru\n\nQualification:\nAny graduation\n\...,Machine Learning Engineer,Bengaluru,3.6,Unknown / Non-Applicable,₹22K - ₹24K,Business Services,51 to 200 employees,Company - Private
180,The Data Team\n4.2,-1,-1,"Singapore, Singapore",-1,Location: Chennai / Bangalore\n\nThe Data Team...,SENIOR DATA SCIENTIST,Chennai,4.2,Unknown / Non-Applicable,"₹655K - ₹1,073K",-1,51 to 200 employees,Company - Private
181,Copiousminds,-1,-1,"Mumbai, India",-1,EXPERIENCE:\n2+years\nJOB DESCRIPTION:\nExperi...,Sr. Data Scientist,Mumbai,-1,Unknown / Non-Applicable,-1,-1,Unknown,Company - Private
182,GP Strategies\n2.7,"IBM, Accenture, Raytheon Technologies",1966,"Columbia, MD",Consulting,Data Analyst\n\n\nWe are actively recruiting a...,Data Analyst,Chennai,2.7,₹50 to ₹100 billion (INR),₹438K - ₹477K,Business Services,1001 to 5000 employees,Company - Public
183,iqm.com,-1,2014,"New York, NY",Internet,"Min. Exp: 1 year\nAhmedabad, India\nJob Role\n...",Data Engineer,Ahmedabad,-1,Unknown / Non-Applicable,-1,Information Technology,1 to 50 employees,Company - Private
184,Cerner\n3.6,"McKesson, GE Healthcare, Epic",1979,"Kansas City, MO",Computer Hardware & Software,Job Description\n\nCerner is growing and curre...,Data Analyst,Bengaluru,3.6,₹500+ billion (INR),₹685K - ₹748K,Information Technology,10000+ employees,Company - Public
185,CodeHall\n3.3,-1,-1,"Bengaluru, India",-1,We collect peta-bytes of retail data and are l...,Sr Data Analyst,Bengaluru,3.3,Unknown / Non-Applicable,₹25K - ₹36K,-1,1 to 50 employees,Company - Private
186,DBS Bank\n3.6,"OCBC Bank, Citi, Standard Chartered Bank",1968,"Singapore, Singapore",Banks & Building Societies,"To be a key member of the Analytics team, work...",Lead Data Scientist,India,3.6,₹500+ billion (INR),"₹ 11,17,366",Finance,10000+ employees,Company - Public
187,Global Talent Pool,-1,-1,"Bengaluru, India",-1,Understanding of Applied Statistics and Fundam...,Data Science (ETO-Engineering),Mumbai,-1,Unknown / Non-Applicable,-1,-1,Unknown,Company - Private
188,HealthifyMe Wellness Private Limited\n3.5,-1,2012,"Bengaluru, India",Healthcare Services & Hospitals,About Us\n\nHealthifyMe was founded in 2012 by...,Data Engineer,Bengaluru,3.5,Unknown / Non-Applicable,"₹ 7,61,299",Healthcare,501 to 1000 employees,Company - Private
189,Amazon\n4.2,"Google, Microsoft, Walmart",1994,"Seattle, WA",Internet,Are you a data and analytics specialist? Do yo...,AWS Data Lab Solution Architect,Bengaluru,4.2,₹500+ billion (INR),"₹ 14,70,896",Information Technology,10000+ employees,Company - Public
190,Evolent Health\n2.8,-1,2011,"Arlington, VA",Healthcare Services & Hospitals,Analytics\n\nNLP & Text Mining Data Scientist\...,NLP & Text Mining Data Scientist,Pune,2.8,₹1 to ₹5 billion (INR),"₹832K - ₹1,276K",Healthcare,1001 to 5000 employees,Company - Public
191,Matelabs Innovations Pvt. Ltd.,-1,-1,-1,-1,Mate Labs is looking for a kick-ass and enthus...,Data Science Internship,Bengaluru,-1,-1,-1,-1,-1,-1
192,Walmart\n3.3,"Target, Costco Wholesale, Amazon",1962,"Bentonville, AR","Department, Clothing, & Shoe Shops","Description:\n\nAt Walmart, were accelerating ...",Director Data Science,Bengaluru,3.3,₹500+ billion (INR),"₹ 13,95,403",Retail,1001 to 5000 employees,Company - Public
193,WyzMIndz Solution Pvt Ltd\n3.9,-1,2010,"BENGALURU, India",IT Services,Looking for Analyst\n\nAny Degree\n\n0-2yrs ex...,Data Analyst,Bengaluru,3.9,Unknown / Non-Applicable,₹368K - ₹401K,Information Technology,51 to 200 employees,Company - Private
194,GO-JEK\n4.1,-1,2010,"Jakarta, Indonesia",Transportation Management,Principal Data Scientist will architect and dr...,Principal Data Scientist,Bengaluru,4.1,Unknown / Non-Applicable,"₹ 22,27,749",Transportation & Logistics,1001 to 5000 employees,Company - Private
195,TO THE NEW Digital\n3.3,-1,-1,"Jakarta, Indonesia",-1,Responsibilities:\nA keen desire to solve busi...,Senior Data Scientist,Noida,3.3,Unknown / Non-Applicable,₹857K - ₹941K,-1,51 to 200 employees,Company - Public
196,TO THE NEW Digital\n3.3,"Google, Microsoft, Walmart",1994,"Seattle, WA",Internet,Amazons eCommerce Foundation (eCF) organizatio...,Data Engineer I,Hyderabad,4.2,₹500+ billion (INR),"₹1,122K - ₹2,556K",Information Technology,10000+ employees,Company - Public
197,Sony India Software Centre Pvt Ltd\n3.7,-1,1946,"Tokyo, Japan",Consumer Products Manufacturing,Experience: 4-6 years\n\nJob Description:\nA b...,Data Analyst,Bengaluru,3.7,₹500+ billion (INR),₹26K - ₹28K,Manufacturing,10000+ employees,Company - Public
198,ServiceNow\n3.7,"BMC Software, CA Technologies, Salesforce",2004,"Santa Clara, CA",Enterprise Software & Network Solutions,ServiceNow is changing the way people work. Wi...,Senior Machine Learning Engineer,Hyderabad,3.7,₹100 to ₹500 billion (INR),"₹ 15,55,588",Information Technology,10000+ employees,Company - Public
199,Daimler\n4.2,"Audi, Porsche, BMW",1886,"Stuttgart, Germany",Transportation Equipment Manufacturing,Business Analyst/BigData Expert - Pyspark/Pyth...,Battery Expert - Data Anaytics,Bengaluru,4.2,₹500+ billion (INR),"₹ 12,82,158",Manufacturing,10000+ employees,Company - Public

In [34]:
df3.to_csv('df3.csv', index = False)

In [36]:
#url = 'https://www.glassdoor.co.in/Job/data-scientist-jobs-SRCH_KO0,14_IP21.htm'

df4 = get_jobs(200)
df4

Progress: 0/200
Progress: 1/200
Progress: 2/200
Progress: 3/200
Progress: 4/200
Progress: 5/200
Progress: 6/200
Progress: 7/200
Progress: 8/200
Progress: 9/200
Progress: 10/200
Progress: 11/200
Progress: 12/200
Progress: 13/200
Progress: 14/200
Progress: 15/200
Progress: 16/200
Progress: 17/200
Progress: 18/200
Progress: 19/200
Progress: 20/200
Progress: 21/200
Progress: 22/200
Progress: 23/200
Progress: 24/200
Progress: 25/200
Progress: 26/200
Progress: 27/200
Progress: 28/200
Progress: 29/200
Progress: 30/200
Progress: 31/200
Progress: 32/200
Progress: 33/200
Progress: 34/200
Progress: 35/200
Progress: 36/200
Progress: 37/200
Progress: 38/200
Progress: 39/200
Progress: 40/200
Progress: 41/200
Progress: 42/200
Progress: 43/200
Progress: 44/200
Progress: 45/200
Progress: 46/200
Progress: 47/200
Progress: 48/200
Progress: 49/200
Progress: 50/200
Progress: 51/200
Progress: 52/200
Progress: 53/200
Progress: 54/200
Progress: 55/200
Progress: 56/200
Progress: 57/200
Progress: 58/200
Progress: 59/200
Progress: 60/200
Progress: 61/200
Progress: 62/200
Progress: 63/200
Progress: 64/200
Progress: 65/200
Progress: 66/200
Progress: 67/200
Progress: 68/200
Progress: 69/200
Progress: 70/200
Progress: 71/200
Progress: 72/200
Progress: 73/200
Progress: 74/200
Progress: 75/200
Progress: 76/200
Progress: 77/200
Progress: 78/200
Progress: 79/200
Progress: 80/200
Progress: 81/200
Progress: 82/200
Progress: 83/200
Progress: 84/200
Progress: 85/200
Progress: 86/200
Progress: 87/200
Progress: 88/200
Progress: 89/200
Progress: 90/200
Progress: 91/200
Progress: 92/200
Progress: 93/200
Progress: 94/200
Progress: 95/200
Progress: 96/200
Progress: 97/200
Progress: 98/200
Progress: 99/200
Progress: 100/200
Progress: 101/200
Progress: 102/200
Progress: 103/200
Progress: 104/200
Progress: 105/200
Progress: 106/200
Progress: 107/200
Progress: 108/200
Progress: 109/200
Progress: 110/200
Progress: 111/200
Progress: 112/200
Progress: 113/200
Progress: 114/200
Progress: 115/200
Progress: 116/200
Progress: 117/200
Progress: 118/200
Progress: 119/200
Progress: 120/200
Progress: 121/200
Progress: 122/200
Progress: 123/200
Progress: 124/200
Progress: 125/200
Progress: 126/200
Progress: 127/200
Progress: 128/200
Progress: 129/200
Progress: 130/200
Progress: 131/200
Progress: 132/200
Progress: 133/200
Progress: 134/200
Progress: 135/200
Progress: 136/200
Progress: 137/200
Progress: 138/200
Progress: 139/200
Progress: 140/200
Progress: 141/200
Progress: 142/200
Progress: 143/200
Progress: 144/200
Progress: 145/200
Progress: 146/200
Progress: 147/200
Progress: 148/200
Progress: 149/200
Progress: 150/200
Progress: 151/200
Progress: 152/200
Progress: 153/200
Progress: 154/200
Progress: 155/200
Progress: 156/200
Progress: 157/200
Progress: 158/200
Progress: 159/200
Progress: 160/200
Progress: 161/200
Progress: 162/200
Progress: 163/200
Progress: 164/200
Progress: 165/200
Progress: 166/200
Progress: 167/200
Progress: 168/200
Progress: 169/200
Progress: 170/200
Progress: 171/200
Progress: 172/200
Progress: 173/200
Progress: 174/200
Progress: 175/200
Progress: 176/200
Progress: 177/200
Progress: 178/200
Progress: 179/200
Progress: 180/200
Progress: 181/200
Progress: 182/200
Progress: 183/200
Progress: 184/200
Progress: 185/200
Progress: 186/200
Progress: 187/200
Progress: 188/200
Progress: 189/200
Progress: 190/200
Progress: 191/200
Progress: 192/200
Progress: 193/200
Progress: 194/200
Progress: 195/200
Progress: 196/200
Progress: 197/200
Progress: 198/200
Progress: 199/200
Progress: 200/200

,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,Size,Type of ownership
0,Guidewire Software\n4.1,"Oracle, Accenture, Duck Creek Technologies",2001,"San Mateo, CA",Computer Hardware & Software,Data Engineer\nGuidewire’s Cyence Risk Analyti...,Data Engineer,Chennai,4.1,₹50 to ₹100 billion (INR),-1,Information Technology,1001 to 5000 employees,Company - Public
1,Franklin Templeton Investments\n3.8,"Fidelity Investments, Vanguard",1947,"San Mateo, CA",Investment Banking & Asset Management,Senior Data Scientist - Mathematical Finance-8...,Senior Data Scientist - Mathematical Finance,Andhra Pradesh,3.8,₹500+ billion (INR),"₹ 11,85,498",Finance,5001 to 10000 employees,Company - Public
2,ARi\n3.3,-1,2006,"East Peoria, IL",Architectural & Engineering Services,JOB DETAILS\nJob Name:Data Analyst\nRequired s...,Data Analyst,Chennai,3.3,₹500 million to ₹1 billion (INR),"₹ 4,25,043",Business Services,501 to 1000 employees,Company - Private
3,SpringML\n4.4,-1,2015,"Pleasanton, CA",Enterprise Software & Network Solutions,"About SpringML\n\nAt SpringML, we are all abou...",Data Engineer,Hyderabad,4.4,Unknown / Non-Applicable,"₹1,493K - ₹1,621K",Information Technology,1 to 50 employees,Company - Private
4,Noriker Power,-1,-1,"Gloucester, United Kingdom",-1,"As a Data Scientist, you will lead the develop...",Data Scientist/Analyst,Odisha,-1,Unknown / Non-Applicable,-1,-1,1 to 50 employees,Unknown
5,Grid Logic Software Private Limited\n4.7,-1,2010,"Gurgaon, India",IT Services,We are looking for a Machine Learning (ML) Eng...,Machine Learning Engineer,Hyderabad,4.7,Unknown / Non-Applicable,₹670K - ₹724K,Information Technology,501 to 1000 employees,Company - Private
6,Innoplexus\n4.1,"Palantir Technologies, Mu Sigma, IQVIA",2011,"Frankfurt am Main, Germany",Consulting,Job Location – Pune – India\nRequired experien...,Bioinformatic (Data Scientist) -Variant analyst,Pune,4.1,₹100 to ₹500 million (INR),"₹ 11,37,809",Business Services,201 to 500 employees,Company - Private
7,Networld\n5.0,-1,2006,"Rajkot, India",IT Services,We have opening for Data Analyst post for Rajk...,Data Analyst,Rajkot,5.0,Unknown / Non-Applicable,-1,Information Technology,1 to 50 employees,Private Practice / Firm
8,Careerera\n4.0,-1,-1,"Wayland, MA",Education Training Services,Experience 2- 4 Years\nSalary 4 LPA - 6 LPA\nJ...,Artificial Intelligence Scientists,Chennai,4.0,Unknown / Non-Applicable,₹32K - ₹35K,Education,501 to 1000 employees,Company - Private
9,Bioclinica\n3.5,"PPD, DATATRAK International",1990,"Princeton, NJ",Biotech & Pharmaceuticals,Essential Duties and Responsibilities:\n\nAs a...,Drug Safety Scientist,Mysore,3.5,Unknown / Non-Applicable,"₹ 4,90,964",Biotech & Pharmaceuticals,1001 to 5000 employees,Company - Private
10,Talent Arabia,-1,-1,-1,-1,DESCRIPTION\n\nShould be a Senior Data Scienti...,Data Science Analyst,Hyderabad,-1,-1,-1,-1,-1,-1
11,kyte Tech Consulting LLP\n3.3,-1,2015,"Ahmedabad, India",Enterprise Software & Network Solutions,Position Summary:\nThe Data Analyst is respons...,Data Analyst,Ahmedabad,3.3,Unknown / Non-Applicable,₹488K - ₹529K,Information Technology,51 to 200 employees,Company - Private
12,ServiceNow\n3.7,"BMC Software, CA Technologies, Salesforce",2004,"Santa Clara, CA",Enterprise Software & Network Solutions,ServiceNow is changing the way people work. Wi...,Sr Data Engineer,Hyderabad,3.7,₹100 to ₹500 billion (INR),"₹ 15,55,588",Information Technology,10000+ employees,Company - Public
13,Sripathi Paper and Boards\n3.0,-1,-1,"Coimbatore, India",Industrial Manufacturing,Data Analyst 1 to 5 years work experience. Det...,Data Analyst,Coimbatore,3.0,₹1 to ₹5 billion (INR),₹18K - ₹20K,Manufacturing,201 to 500 employees,Unknown
14,National Institute Of Biomedical Genomics (NIBMG),-1,-1,-1,-1,National Institute Of Biomedical Genomics (NIB...,Data Analyst,Kalyani,-1,-1,-1,-1,-1,-1
15,Paisool\n5.0,-1,2012,"Bengaluru, India",IT Services,Overview\n\n\nINBE is a Bangalore-based techno...,Data Engineer,Bengaluru,5.0,Unknown / Non-Applicable,₹19K - ₹21K,Information Technology,1 to 50 employees,Company - Private
16,Bosch Group\n4.1,"Continental, FCA Fiat Chrysler Automobiles",1886,"Farmington Hills, MI",Miscellaneous Manufacturing,Company Description\n\nRobert Bosch Engineerin...,Satellite Data Analyst,Bengaluru,4.1,₹500+ billion (INR),"₹ 9,73,221",Manufacturing,10000+ employees,Company - Private
17,Magna Infotech (India)\n2.8,-1,1997,"Hyderabad, India",Staffing & Outsourcing,"Job Description\n\nAbout Us :\nSince 1997, Mag...",Data Analyst,Bengaluru,2.8,₹100 to ₹500 billion (INR),₹265K - ₹288K,Business Services,5001 to 10000 employees,Company - Private
18,Ralph Lauren\n3.5,-1,1967,"New York, NY",Other Retail Shops,Position Overview\n\nThe Data Engineer is an e...,"Data Engineer, Enterprise Data",Bengaluru,3.5,₹500+ billion (INR),₹617K - ₹679K,Retail,10000+ employees,Company - Public
19,Etech Global Services\n3.8,-1,1997,"Nacogdoches, TX",Staffing & Outsourcing,Job Title: Data Engineer\n\nCampaign: Software...,Data Engineer,Gandhinagar,3.8,₹10 to ₹50 billion (INR),"₹ 35,349/mo",Business Services,1001 to 5000 employees,Company - Private
20,TTEC\n3.4,"Teleperformance, TaskUs, Convergys",1982,"Englewood, CO",Staffing & Outsourcing,"When everything's connected, how we connect is...",Data Engineer,Hyderabad,3.4,₹100 to ₹500 billion (INR),"₹ 24,171/mo",Business Services,10000+ employees,Company - Public
21,Brillio\n3.2,-1,2014,"Santa Clara, CA",IT Services,Brillio is forging ahead aggressively amidst t...,Lead Data Scientist,Bengaluru,3.2,₹10 to ₹50 billion (INR),"₹ 7,01,653",Information Technology,1001 to 5000 employees,Company - Private
22,Fidelity Investments\n4.0,"Charles Schwab, Vanguard, Citi",1946,"Boston, MA",Investment Banking & Asset Management,Job Description:\n\n\nJob TitlePrincipal - Dat...,Principal Software Engineering - Data Science,Bengaluru,4.0,₹500+ billion (INR),"₹ 8,07,575",Finance,10000+ employees,Company - Private
23,ADCI - Karnataka,-1,-1,-1,-1,6+ years of practical experience applying ML t...,Applied Scientist,Bengaluru,-1,-1,-1,-1,-1,-1
24,AWS ProServe IN - Karnataka,-1,-1,-1,-1,A Bachelor or Masters Degree in a highly quant...,Senior Data Scientist - AWS Professional Services,India,-1,-1,-1,-1,-1,-1
25,Ericsson-Worldwide\n3.9,"Huawei Technologies, IBM, Cisco Systems",1876,"Stockholm, Sweden",Telecommunications Services,"Date: Mar 12, 2020\n\nEricsson enables communi...",Sr Data Scientist - Product Development,Chennai,3.9,₹500+ billion (INR),"₹ 4,76,090",Telecommunications,10000+ employees,Company - Public
26,Umlaut\n4.0,-1,1996,"Aachen, Germany",Consulting,Ref.No. 3719 | Location: Chennai / Bangalore\n...,Machine Learning Engineer,Chennai,4.0,Unknown / Non-Applicable,₹446K - ₹483K,Business Services,1001 to 5000 employees,Company - Private
27,Bloom Consulting Services\n4.8,-1,2015,"Nagpur, India",IT Services,Job Description\nCoding skills using SQL and P...,Data Engineer,Bengaluru,4.8,₹10 to ₹50 million (INR),-1,Information Technology,1 to 50 employees,Company - Private
28,Amazon\n4.2,"Google, Microsoft, Walmart",1994,"Seattle, WA",Internet,Amazon is investing heavily in building a worl...,Senior Applied Scientist,Bengaluru,4.2,₹500+ billion (INR),"₹ 14,70,896",Information Technology,10000+ employees,Company - Public
29,CTC Data Science,-1,-1,-1,-1,"Education trainers, counsellors , Business dev...",Data Science Python Jobs,Gurgaon,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Honeywell\n3.8,"GE, Johnson Controls, United Technologies",1885,"Charlotte, NC",Computer Hardware & Software,"Join a team recognized for leadership, innovat...",Data Analyst-MDM,Bengaluru,3.8,₹500+ billion (INR),"₹ 10,29,547",Information Technology,10000+ employees,Company - Public
171,KAIZEN Asset Management Services,-1,-1,-1,-1,"In summary, this position is responsible for:\...",Data Scientist in India,New Delhi,-1,-1,-1,-1,-1,-1
172,Factspan\n2.9,-1,2012,"Seattle, WA",Consulting,"Overview\n\nEstablished in 2012, Factspan is a...",Analytics Manager,Bengaluru,2.9,Unknown / Non-Applicable,"₹1,196K - ₹1,272K",Business Services,51 to 200 employees,Company - Private
173,Bridgetree\n3.4,-1,1995,"Mooresville, NC",Advertising & Marketing,We are seeking a full-time Senior Data Analyst...,Senior Data Analyst,Kolkata,3.4,₹1 to ₹5 billion (INR),₹906K - ₹992K,Business Services,51 to 200 employees,Company - Private
174,Honeywell\n3.8,"GE, Johnson Controls, United Technologies",1885,"Charlotte, NC",Computer Hardware & Software,"Join a team recognized for leadership, innovat...",Sr Data Analyst - MDM,Bengaluru,3.8,₹500+ billion (INR),"₹ 10,29,547",Information Technology,10000+ employees,Company - Public
175,Phenom People\n4.3,-1,2011,"Ambler, PA",Computer Hardware & Software,JOB DESCRIPTION\n\nJob Responsibilities\nStron...,Big Data Engineer,Hyderabad,4.3,Unknown / Non-Applicable,"₹ 8,05,059",Information Technology,501 to 1000 employees,Company - Private
176,Cleartrip\n3.3,-1,2006,"Mumbai, India",Travel Agencies,Share\n\nJob Description:\n\nThis role require...,Senior Data Analyst,Bengaluru,3.3,Unknown / Non-Applicable,"₹ 10,76,135",Travel & Tourism,501 to 1000 employees,Company - Private
177,OakNorth Bank\n4.1,-1,2015,"London, United Kingdom",Lending,OakNorth is the next-generation credit and mon...,Data Analyst,Bengaluru,4.1,Unknown / Non-Applicable,"₹ 28,12,813",Finance,51 to 200 employees,Company - Private
178,Bloom Consulting Services\n4.8,-1,2015,"Nagpur, India",IT Services,Responsibilities:\nHe/she will work on Global ...,Data Analyst,Bengaluru,4.8,₹10 to ₹50 million (INR),-1,Information Technology,1 to 50 employees,Company - Private
179,Amazon\n4.2,"Google, Microsoft, Walmart",1994,"Seattle, WA",Internet,Do you want to be in the forefront of engineer...,Data Engineer II,Hyderabad,4.2,₹500+ billion (INR),"₹ 22,19,018",Information Technology,10000+ employees,Company - Public
180,Honeywell\n3.8,"GE, Johnson Controls, United Technologies",1885,"Charlotte, NC",Computer Hardware & Software,"Join a team recognized for leadership, innovat...",Data Analyst-IDQ,Bengaluru,3.8,₹500+ billion (INR),"₹ 10,29,547",Information Technology,10000+ employees,Company - Public
181,Fine Jobs\n5.0,-1,-1,"Mumbai, India",-1,VARITE is looking for a qualified Data Analyst...,Data Analyst,Noida,5.0,Unknown / Non-Applicable,-1,-1,1 to 50 employees,Company - Private
182,Class One Exchange\n4.7,-1,2014,"San Jose, CA",Advertising & Marketing,Responsibilities\nDeliver highly scalable and ...,Data Engineer,Chennai,4.7,Unknown / Non-Applicable,₹280K - ₹352K,Business Services,1 to 50 employees,Company - Private
183,ETAIOTA Systems,-1,-1,-1,-1,Role: Intern\nLocation: Bhubaneswar\nDuration:...,Data Science Intern,Bhubaneswar,-1,-1,-1,-1,-1,-1
184,Ushur\n4.3,-1,2014,"Sunnyvale, CA",Enterprise Software & Network Solutions,Ushur is transforming the way businesses commu...,Senior Machine Learning Engineer,Bengaluru,4.3,Unknown / Non-Applicable,₹38K - ₹41K,Information Technology,1 to 50 employees,Company - Private
185,Honeywell\n3.8,"GE, Johnson Controls, United Technologies",1885,"Charlotte, NC",Computer Hardware & Software,"Join a team recognized for leadership, innovat...",Data Analyst-P,Bengaluru,3.8,₹500+ billion (INR),"₹ 10,29,547",Information Technology,10000+ employees,Company - Public
186,OakNorth\n3.8,-1,2015,"London, United Kingdom",Enterprise Software & Network Solutions,OakNorth is the next-generation credit and mon...,Machine Learning Engineer,Bengaluru,3.8,Unknown / Non-Applicable,"₹ 9,00,100",Information Technology,51 to 200 employees,Company - Private
187,"Institutional Shareholder Services, Inc.\n3.2",Glass Lewis & Co,1985,"Rockville, MD",Financial Analytics & Research,Institutional Shareholder Services Inc. (ISS) ...,Data Analyst,Mumbai,3.2,₹1 to ₹5 billion (INR),"₹ 11,64,860",Finance,201 to 500 employees,Subsidiary or Business Segment
188,Decision Tree Analytics,-1,-1,-1,-1,"Key Responsibilities:\nDesign, develop, and ma...",Senior Data Analyst,Gurgaon,-1,-1,-1,-1,-1,-1
189,Tech Pathway,-1,-1,-1,-1,Skills Required:\nRelevant Experience: 5 Years...,DATA SCIENCE EXPERT,Jaipur,-1,-1,-1,-1,-1,-1
190,ADCI - BLR 14 SEZ,-1,-1,-1,-1,5+ years of Data Engineering experience.\nExpe...,Data Engineer,Bengaluru,-1,-1,-1,-1,-1,-1
191,Fine Jobs\n5.0,-1,-1,"Mumbai, India",-1,Mentor or coach for scrum teams Expert into Ag...,Data Engineer,Andhra Pradesh,5.0,Unknown / Non-Applicable,-1,-1,1 to 50 employees,Company - Private
192,Dasceq\n2.0,-1,-1,"Irving, TX",-1,About Dasceq\nDasceq is transforming collectio...,Data Analyst,India,2.0,Unknown / Non-Applicable,-1,-1,1 to 50 employees,Company - Private
193,Zynga\n4.0,-1,2007,"San Francisco, CA",Video Games,We are seeking top engineering talent to join ...,Principal Data Engineer,Bengaluru,4.0,₹50 to ₹100 billion (INR),"₹ 15,47,632",Media,1001 to 5000 employees,Company - Public
194,FACTANA,-1,-1,"Bengaluru, India",-1,We are looking for Data Engineer who has exper...,Data Engineer,Bengaluru,-1,Unknown / Non-Applicable,-1,-1,Unknown,Company - Private
195,Service industry for Pharmaceuticals company,-1,-1,-1,-1,The person would be responsible for data colle...,Data Analyst,Vadodara,-1,-1,-1,-1,-1,-1
196,Indegene\n3.6,"Accenture, Cognizant Technology Solutions, Tat...",1998,"Bengaluru, India",Healthcare Services & Hospitals,Experience:\n00 - 8.00 years\nPosition Type:\n...,Senior Data Analyst,Bengaluru,3.6,₹10 to ₹50 billion (INR),"₹ 5,14,896",Healthcare,1001 to 5000 employees,Company - Private
197,Efftronics Systems\n2.9,-1,-1,"Vijayawada, India",Computer Hardware & Software,Job Responsibilities\nPreparation of the Datab...,Customer Data Analyst,Vijayawada,2.9,Unknown / Non-Applicable,"₹ 25,285/mo",Information Technology,501 to 1000 employees,Company - Private
198,Williams Marketing OPC Pvt Ltd\n3.0,-1,-1,"Chandigarh, India",-1,The responsibilities of a data analyst typical...,Data Analyst,Maharashtra,3.0,Unknown / Non-Applicable,₹24K - ₹26K,-1,Unknown,Unknown
199,Tekolutions.ai,-1,-1,"Mumbai, India",-1,Looking for Data Scientists with Python/R Prog...,Machine Learning Engineer,India,-1,Unknown / Non-Applicable,-1,-1,Unknown,Company - Private

In [37]:
df4.to_csv('df4.csv', index = False)

In [39]:
df5 = get_jobs(200)
df5

Progress: 0/200
Progress: 1/200
Progress: 2/200
Progress: 3/200
Progress: 4/200
Progress: 5/200
Progress: 6/200
Progress: 7/200
Progress: 8/200
Progress: 9/200
Progress: 10/200
Progress: 11/200
Progress: 12/200
Progress: 13/200
Progress: 14/200
Progress: 15/200
Progress: 16/200
Progress: 17/200
Progress: 18/200
Progress: 19/200
Progress: 20/200
Progress: 21/200
Progress: 22/200
Progress: 23/200
Progress: 24/200
Progress: 25/200
Progress: 26/200
Progress: 27/200
Progress: 28/200
Progress: 29/200
Progress: 30/200
Progress: 31/200
Progress: 32/200
Progress: 33/200
Progress: 34/200
Progress: 35/200
Progress: 36/200
Progress: 37/200
Progress: 38/200
Progress: 39/200
Progress: 40/200
Progress: 41/200
Progress: 42/200
Progress: 43/200
Progress: 44/200
Progress: 45/200
Progress: 46/200
Progress: 47/200
Progress: 48/200
Progress: 49/200
Progress: 50/200
Progress: 51/200
Progress: 52/200
Progress: 53/200
Progress: 54/200
Progress: 55/200
Progress: 56/200
Progress: 57/200
Progress: 58/200
Progress: 59/200
Progress: 60/200
Progress: 61/200
Progress: 62/200
Progress: 63/200
Progress: 64/200
Progress: 65/200
Progress: 66/200
Progress: 67/200
Progress: 68/200
Progress: 69/200
Progress: 70/200
Progress: 71/200
Progress: 72/200
Progress: 73/200
Progress: 74/200
Progress: 75/200
Progress: 76/200
Progress: 77/200
Progress: 78/200
Progress: 79/200
Progress: 80/200
Progress: 81/200
Progress: 82/200
Progress: 83/200
Progress: 84/200
Progress: 85/200
Progress: 86/200
Progress: 87/200
Progress: 88/200
Progress: 89/200
Progress: 90/200
Progress: 91/200
Progress: 92/200
Progress: 93/200
Progress: 94/200
Progress: 95/200
Progress: 96/200
Progress: 97/200
Progress: 98/200
Progress: 99/200
Progress: 100/200
Progress: 101/200
Progress: 102/200
Progress: 103/200
Progress: 104/200
Progress: 105/200
Progress: 106/200
Progress: 107/200
Progress: 108/200
Progress: 109/200
Progress: 110/200
Progress: 111/200
Progress: 112/200
Progress: 113/200
Progress: 114/200
Progress: 115/200
Progress: 116/200
Progress: 117/200
Progress: 118/200
Progress: 119/200
Progress: 120/200
Progress: 121/200
Progress: 122/200
Progress: 123/200
Progress: 124/200
Progress: 125/200
Progress: 126/200
Progress: 127/200
Progress: 128/200
Progress: 129/200
Progress: 130/200
Progress: 131/200
Progress: 132/200
Progress: 133/200
Progress: 134/200
Progress: 135/200
Progress: 136/200
Progress: 137/200
Progress: 138/200
Progress: 139/200
Progress: 140/200
Progress: 141/200
Progress: 142/200
Progress: 143/200
Progress: 144/200
Progress: 145/200
Progress: 146/200
Progress: 147/200
Progress: 148/200
Progress: 149/200
Progress: 150/200
Progress: 151/200
Progress: 152/200
Progress: 153/200
Progress: 154/200
Progress: 155/200
Progress: 156/200
Progress: 157/200
Progress: 158/200
Progress: 159/200
Progress: 160/200
Progress: 161/200
Progress: 162/200
Progress: 163/200
Progress: 164/200
Progress: 165/200
Progress: 166/200
Progress: 167/200
Progress: 168/200
Progress: 169/200
Progress: 170/200
Progress: 171/200
Progress: 172/200
Progress: 173/200
Progress: 174/200
Progress: 175/200
Progress: 176/200
Progress: 177/200
Progress: 178/200
Progress: 179/200
Progress: 180/200
Progress: 181/200
Progress: 182/200
Progress: 183/200
Progress: 184/200
Progress: 185/200
Progress: 186/200
Progress: 187/200
Progress: 188/200
Progress: 189/200
Progress: 190/200
Progress: 191/200
Progress: 192/200
Progress: 193/200
Progress: 194/200
Progress: 195/200
Progress: 196/200
Progress: 197/200
Progress: 198/200
Progress: 199/200
Progress: 200/200

,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,Size,Type of ownership
0,Substratal Solutions,-1,-1,"New Delhi, India",-1,Required Skills & Experience\n\nWe are looking...,Data Analyst,Gurgaon,-1,Unknown / Non-Applicable,-1,-1,1 to 50 employees,Company - Private
1,Creditvidya\n4.5,-1,2012,"Hyderabad, India",Banks & Building Societies,Job Description\nCreditVidya is looking for br...,Senior Machine Learning Engineer,Hyderabad,4.5,Unknown / Non-Applicable,₹855K - ₹963K,Finance,51 to 200 employees,Company - Private
2,National Legal Services Authority (NALSA),-1,-1,-1,-1,National Legal Services Authoriy (NALSA) invit...,Consultant (Data Analyst),New Delhi,-1,-1,-1,-1,-1,-1
3,Knoema\n4.0,-1,-1,"Washington, DC",-1,Requirements\n2+ years of experience in DBMS d...,Data Engineer,Bengaluru,4.0,Unknown / Non-Applicable,₹415K - ₹447K,-1,1 to 50 employees,Company - Private
4,smart4talent,-1,2009,"Faridabad, India",Staffing & Outsourcing,Designation : Data Analyst\nQualification: BA ...,Data Analyst,Mumbai,-1,₹10 to ₹50 million (INR),-1,Business Services,1 to 50 employees,Company - Private
5,Roljobs Technology Services Pvt Ltd\n3.7,-1,2002,"Bengaluru, India",Staffing & Outsourcing,Your next career adventure awaits you in the E...,Data Engineer,Thiruvananthapuram,3.7,Unknown / Non-Applicable,"₹ 17,782/mo",Business Services,51 to 200 employees,Company - Private
6,MAC Group - India\n4.2,-1,-1,"Panaji, India",Hotel & Resorts,Job Description\n\nAre you passionate about De...,Decision Scientist - Malayalam Speaker,Kochi,4.2,Unknown / Non-Applicable,-1,Travel & Tourism,51 to 200 employees,Company - Private
7,upGrad Education Private Limited\n3.7,"Udacity, General Assembly, Springboard",2015,"Mumbai, India",Education Training Services,About Us\n\nupGrad is an online education plat...,Senior Data Engineer,Mumbai,3.7,₹1 to ₹5 billion (INR),"₹ 6,85,000",Education,501 to 1000 employees,Company - Private
8,Covalense Technologies\n3.9,-1,2006,"Hyderabad, India",IT Services,Must have 4+ years experience on Data Engineer...,Data Engineer,Hyderabad,3.9,Unknown / Non-Applicable,"₹ 15,38,147",Information Technology,201 to 500 employees,Company - Private
9,Amazon Dev Center India - Hyd,-1,-1,-1,-1,"A Masters and/or PhD in Computer Science, Mach...",Applied Scientist Intern,Hyderabad,-1,-1,-1,-1,-1,-1
10,Nektar Therapeutics\n3.5,"Bristol Myers Squibb, Merck, GlaxoSmithKline",1990,"San Francisco, CA",Biotech & Pharmaceuticals,"Associate Scientist\nLocation\n\n\nHyderabad, ...",Associate Scientist,Hyderabad,3.5,₹10 to ₹50 billion (INR),₹10K - ₹10K,Biotech & Pharmaceuticals,201 to 500 employees,Company - Public
11,Amazon\n4.2,"Google, Microsoft, Walmart",1994,"Seattle, WA",Internet,Are you a Data Analytics specialist? Do you ha...,Big Data consultant - AWS Professional Services,India,4.2,₹500+ billion (INR),"₹ 14,70,896",Information Technology,10000+ employees,Company - Public
12,Druva\n2.5,"Rubrik, Commvault, Cohesity",2007,"Sunnyvale, CA",Enterprise Software & Network Solutions,Data Analyst\n\n\nat Druva\n\n(View all jobs)\...,Data Analyst,Pune,2.5,₹10 to ₹50 billion (INR),"₹ 13,85,397",Information Technology,501 to 1000 employees,Company - Private
13,Oracle\n3.6,"SAP, Salesforce, Microsoft",1977,"Redwood City, CA",Enterprise Software & Network Solutions,Description\n\nSHIFT: Day Job\n\nSCHEDULE:\n\n...,Principal Data Science Engineer,Bengaluru,3.6,₹500+ billion (INR),"₹ 9,87,915",Information Technology,10000+ employees,Company - Public
14,Mylan Inc.\n3.8,-1,1961,"Hatfield, United Kingdom",Biotech & Pharmaceuticals,"For Us, It's A Mission\n\nAt Mylan, we mean it...",Data Lake Developer,Bengaluru,3.8,₹500+ billion (INR),"₹ 3,67,591",Biotech & Pharmaceuticals,10000+ employees,Company - Public
15,Vision Insight\n5.0,-1,-1,"Costa Mesa, CA",-1,About the company:\nWe are a data and AI compa...,Data Science Internship,Mumbai,5.0,Unknown / Non-Applicable,-1,-1,1 to 50 employees,Company - Private
16,Lam Research\n4.3,"Applied Materials, Tokyo Electron, ASML",1980,"Fremont, CA",Electrical & Electronic Manufacturing,Position: Modeling Engineer Sr. I\n\n\n\nEligi...,"Modeling Engineer, Sr. I",Neem-Ka-Thana,4.3,₹500+ billion (INR),"₹ 11,11,537",Manufacturing,10000+ employees,Company - Public
17,Bloom Consulting Services\n4.8,-1,2015,"Nagpur, India",IT Services,Years of Exp – 2-4 Years\nWork Location – Bang...,Data Analyst Requirement,Bengaluru,4.8,₹10 to ₹50 million (INR),-1,Information Technology,1 to 50 employees,Company - Private
18,Cognizant Technology Solutions\n3.7,"Tata Consultancy Services, Accenture, Capgemini",1994,"Teaneck, NJ",-1,Team Lead - CDM/PV\n\nQualification:\n\nGradua...,Junior Data Analyst,Kolkata,3.7,₹500+ billion (INR),"₹ 4,24,242",-1,10000+ employees,Company - Public
19,Vashi Electricals\n3.4,-1,1978,"Thane, India",Wholesale,Job Location – Bhiwandi ( we have drop and pic...,Data Analyst,Mumbai,3.4,₹100 to ₹500 billion (INR),₹17K - ₹19K,Business Services,201 to 500 employees,Company - Private
20,Intelact Business Solutions,-1,-1,"Mumbai, India",-1,Position : Data Specialist / Data Analyst - E-...,Data Specialist / Data Analyst,Mumbai,-1,Unknown / Non-Applicable,-1,-1,Unknown,Company - Private
21,TresVista\n2.8,-1,2006,"Mumbai, India",Financial Analytics & Research,×\nJob Description ( Data Analyst - Quantitati...,Data Analyst - Quantitative Support Team - DEC,Pune,2.8,Unknown / Non-Applicable,"₹ 4,60,368",Finance,51 to 200 employees,Company - Private
22,Exela Technologies\n2.6,"SourceHOV, BancTec, Transcentra",2017,"Irving, TX",IT Services,"Roles and Responsibilities:\nExtracting, trans...",Data Analyst,Pune,2.6,₹100 to ₹500 billion (INR),"₹ 5,07,894",Information Technology,10000+ employees,Company - Public
23,Modak Analytics\n4.0,-1,2010,"Hyderabad, India",IT Services,Job Type: Full time Experience: 2+ years Hyder...,Data Engineer,Hyderabad,4.0,Unknown / Non-Applicable,₹322K - ₹931K,Information Technology,201 to 500 employees,Company - Private
24,Social Wavelength\n3.7,WAT Media,2009,"Mumbai, India",Publishing,Will be responsible for understanding various ...,Creative/ Data Analytics Manager,Mumbai,3.7,Unknown / Non-Applicable,₹599K - ₹653K,Media,201 to 500 employees,Company - Private
25,iBAX,-1,-1,"Chennai, TN",-1,Role requires the ability to interpret data fr...,Data Analyst Intern,Chennai,-1,Unknown / Non-Applicable,-1,-1,Unknown,Unknown
26,Global Analytics\n3.8,-1,2003,"San Diego, CA",Lending,Position Summary\n\nThe role of a Senior Data ...,Senior Data Analyst Engineer,Chennai,3.8,₹10 to ₹50 billion (INR),"₹ 10,18,595",Finance,201 to 500 employees,Company - Private
27,Affinity Express\n2.9,-1,1999,"Elgin, IL",Advertising & Marketing,Required Skills\nCandidate should have good ty...,Data Analyst,Pune,2.9,₹10 to ₹50 billion (INR),"₹ 1,95,291",Business Services,1001 to 5000 employees,Company - Private
28,Outsource Bigdata,-1,-1,-1,-1,Requirement\nB.Tech. / B.E in any Engineering ...,Data Analyst,Bengaluru,-1,-1,-1,-1,-1,-1
29,Datagain Inc.,-1,-1,-1,-1,Good in Data Extraction.\n\nProcessing confide...,Data Analyst,Thane,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Minato Consulting,-1,-1,"San Francisco, CA (US), CA",-1,Data Modeler\nBangalore\n\nResponsibilities:\n...,Data Modeler,Bengaluru,-1,Unknown / Non-Applicable,-1,-1,1 to 50 employees,Self-employed
171,Micro Focus\n3.1,"SAP, Oracle",1976,"Newbury, United Kingdom",Computer Hardware & Software,Distributed computing & Data Analytics Develop...,Distributed computing & Data Analytics Developer,Bengaluru,3.1,₹100 to ₹500 billion (INR),"₹ 8,86,789",Information Technology,10000+ employees,Company - Public
172,Micro Focus\n3.1,"SAP, Oracle",1976,"Newbury, United Kingdom",Computer Hardware & Software,Distributed computing & Data Analytics Develop...,Distributed computing & Data Analytics Developer,Bengaluru,3.1,₹100 to ₹500 billion (INR),"₹ 8,86,789",Information Technology,10000+ employees,Company - Public
173,Nath Outsourcing Solutions,-1,-1,-1,-1,Work Experience\nCandidate with 1-3 Years of w...,Data Analyst,Nagar,-1,-1,-1,-1,-1,-1
174,TaskUs\n4.5,-1,2008,"Santa Monica, CA",Staffing & Outsourcing,So what does a Vice President of Data Science ...,Vice President of Data Science,Indore,4.5,₹10 to ₹50 billion (INR),₹29K - ₹32K,Business Services,10000+ employees,Company - Private
175,Seagate Technology\n3.3,"Western Digital, Fujitsu",1979,"Cupertino, CA",Computer Hardware & Software,200699 Senior Analyst - IT Tableau Developer/ ...,Senior Analyst - IT Tableau Developer/ Data An...,Pune,3.3,₹500+ billion (INR),"₹ 22,73,937",Information Technology,10000+ employees,Company - Public
176,Seagate Technology\n3.3,"Western Digital, Fujitsu",1979,"Cupertino, CA",Computer Hardware & Software,200699 Senior Analyst - IT Tableau Developer/ ...,Senior Analyst - IT Tableau Developer/ Data An...,Pune,3.3,₹500+ billion (INR),"₹ 22,73,937",Information Technology,10000+ employees,Company - Public
177,Unitforce Technologies Consulting Pvt Ltd\n3.5,-1,2003,"Bengaluru, India",IT Services,Hands on experience working with Cloud Platfor...,Data Engineer,Bengaluru,3.5,Unknown / Non-Applicable,₹400K - ₹435K,Information Technology,201 to 500 employees,Company - Private
178,Apple\n4.7,"Google, Microsoft, Samsung Electronics",1976,"Cupertino, CA",Computer Hardware & Software,"Posted: Oct 25, 2019\nRole Number:\n200117123\...","Application Developer/Data Engineer, Supply Ch...",Hyderabad,4.7,₹500+ billion (INR),"₹ 7,85,542",Information Technology,10000+ employees,Company - Public
179,ARi\n3.4,-1,1948,"Mount Laurel, NJ",Transportation Management,Job Details\nJob Name: Engineering Data Analys...,Engineering Data Analyst,Chennai,3.4,₹100 to ₹500 billion (INR),₹32K - ₹35K,Transportation & Logistics,1001 to 5000 employees,Company - Private
180,Fusion Scientific Technologies,-1,-1,"Mumbai, India",-1,Suitable Candidates are requested to mail at h...,Research Scientist,Mumbai,-1,Unknown / Non-Applicable,-1,-1,Unknown,Company - Private
181,Amazon\n4.2,"Google, Microsoft, Walmart",1994,"Seattle, WA",Internet,Amazon seeks an experienced Data Engineer to j...,Data Engineering Manager,Bengaluru,4.2,₹500+ billion (INR),"₹ 24,59,203",Information Technology,10000+ employees,Company - Public
182,Evolent Health\n2.8,-1,2011,"Arlington, VA",Healthcare Services & Hospitals,Job title\n\nEncounter Claims Data Analyst\n\n...,Encounters - Data Analyst,Pune,2.8,₹1 to ₹5 billion (INR),"₹829K - ₹1,267K",Healthcare,1001 to 5000 employees,Company - Public
183,Shell\n4.0,"ExxonMobil, BP, Chevron",1907,"Houston, TX",Oil & Gas Exploration & Production,Job Title\nProcess Data Engineer - Doc Data Co...,Process Data Engineer - Doc Data Control,Chennai,4.0,₹500+ billion (INR),"₹ 18,40,788","Oil, Gas, Energy & Utilities",10000+ employees,Company - Public
184,VSH Solutions\n4.4,-1,2011,"Pune, India",Internet,Apply only if you have a minimum of 3 years of...,Senior Software Engineer - Data Science and Ma...,Pune,4.4,Unknown / Non-Applicable,₹330K - ₹581K,Information Technology,1 to 50 employees,Company - Private
185,SANN Consulting\n4.5,-1,2012,"Bengaluru, India",Staffing & Outsourcing,Exp: 8 to 14 Yrs\nLocation: Gurgoan\nSkills: T...,Big Data Engineer,Gurgaon,4.5,Unknown / Non-Applicable,₹29K - ₹31K,Business Services,1 to 50 employees,Private Practice / Firm
186,SCIO Health Analytics\n3.1,-1,2007,"West Hartford, CT",Healthcare Services & Hospitals,Department: Data Management\n\nExperience: 2-5...,Healthcare Data Analyst,Chennai,3.1,₹1 to ₹5 billion (INR),₹643K - ₹703K,Healthcare,501 to 1000 employees,Company - Private
187,ICMR-Regional Medical Research Centre NE Regio...,-1,-1,"Dibrugarh, India",-1,Interested and eligible candidates may walk-in...,Scientist C (Non-Medical),Dibrugarh,5.0,Unknown / Non-Applicable,₹33K - ₹37K,-1,51 to 200 employees,Government
188,Hpl Global Services Private Limited,-1,-1,-1,-1,Greetings from HPL Global Service..!!\n\nWe ha...,Data Scientist Data Science,Bengaluru,-1,-1,-1,-1,-1,-1
189,Profectus\n4.9,-1,2017,"Schaumburg, IL","Department, Clothing, & Shoe Shops",What we are looking for:\nMust be proficient i...,Data Engineer,Bengaluru,4.9,Unknown / Non-Applicable,₹496K - ₹830K,Retail,1 to 50 employees,Company - Private
190,Hcode Technologies,-1,-1,-1,-1,"Job Summary\n\nLocation: Karnal, Haryana\nClie...",Machine Learning Engineer,Karnal,-1,-1,-1,-1,-1,-1
191,Casepoint\n3.5,-1,2006,"Washington, DC",IT Services,Casepoint provides full eDiscovery capabilitie...,Data Analyst (SQL),Surat,3.5,Unknown / Non-Applicable,₹21K - ₹22K,Information Technology,51 to 200 employees,Company - Private
192,Asymmetrique\n3.8,-1,2008,"Mumbai, India",Advertising & Marketing,I am special because:\nI convert Digital Behav...,Digital Data Analyst,India,3.8,Unknown / Non-Applicable,₹361K - ₹391K,Business Services,1 to 50 employees,Company - Private
193,Amazon\n4.2,"Google, Microsoft, Walmart",1994,"Seattle, WA",Internet,Interested in Amazon Echo? Were building the s...,"Senior Applied Scientist, Alexa Labs",Bengaluru,4.2,₹500+ billion (INR),"₹ 14,70,896",Information Technology,10000+ employees,Company - Public
194,GALE Partners\n3.3,-1,2014,"New York, NY",Advertising & Marketing,GALE is a business agency that brings together...,Data Engineer,Bengaluru,3.3,Unknown / Non-Applicable,"₹ 8,18,864",Business Services,201 to 500 employees,Company - Private
195,TVS\n3.7,-1,-1,"Chennai, India",Accounting,Job Description / Responsibilities\nBuild work...,Data Engineer,Bengaluru,3.7,₹100 to ₹500 billion (INR),"₹ 7,71,515",Accounting & Legal,5001 to 10000 employees,Company - Private
196,IFLEX,-1,-1,"Moscow, Russia",-1,Permanent position with US based client of iFl...,Data Engineer,Bengaluru,-1,Unknown / Non-Applicable,-1,-1,1 to 50 employees,Company - Private
197,Bookmyshow\n3.6,-1,2007,"Mumbai, India",Ticket Sales,Data Engineer,Data Engineer,Mumbai,3.6,Unknown / Non-Applicable,"₹ 6,25,333","Arts, Entertainment & Recreation",1001 to 5000 employees,Company - Private
198,Sense Talent Labs\n4.5,-1,2015,"San Francisco, CA",Computer Hardware & Software,"At Sense, we are transforming the Contractor E...",Data Engineer,Bengaluru,4.5,Unknown / Non-Applicable,-1,Information Technology,51 to 200 employees,Company - Private
199,dunnhumby\n3.6,-1,1989,"Hammersmith, United Kingdom",Consulting,dunnhumby\nis looking for a talented Senior Da...,Senior Data Science Engineer,Gurgaon,3.6,₹50 to ₹100 billion (INR),"₹ 11,11,448",Business Services,1001 to 5000 employees,Company - Private

In [40]:
df5.to_csv('df5.csv', index = False)

In [43]:
import pandas as pd

In [44]:
df1=pd.read_csv("df1.csv")
df1.head()

,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,Size,Type of ownership
0,Buckman\n3.5,-1,1945,"Memphis, TN",Chemical Manufacturing,Job Description – Data Scientist\n\nLocation: ...,Data Scientist,Chennai,3.5,₹50 to ₹100 billion (INR),₹27K - ₹29K,Manufacturing,1001 to 5000 employees,Company - Private
1,Blue Yonder\n4.3,"SAP, Oracle, Manhattan Associates",1985,"Scottsdale, AZ",Enterprise Software & Network Solutions,What You Should Expect\n\nTo ride the wave of ...,Data Scientist,Bengaluru,4.3,₹100 to ₹500 billion (INR),"₹1,712K - ₹1,846K",Information Technology,5001 to 10000 employees,Company - Private
2,PayPal\n3.6,"Square, Amazon, Apple",1998,"San Jose, CA",Internet,Provide analytical insights into emerging prob...,Data Scientist,Bengaluru,3.6,₹500+ billion (INR),₹220K - ₹236K,Information Technology,10000+ employees,Company - Public
3,Amazon\n4.2,"Google, Microsoft, Walmart",1994,"Seattle, WA",Internet,"At Amazon, we strive to be most customer-centr...",Data Scientist,Hyderabad,4.2,₹500+ billion (INR),"₹ 15,49,198",Information Technology,10000+ employees,Company - Public
4,Accenture\n3.9,"Cognizant Technology Solutions, EY, McKinsey &...",1989,"Dublin, Ireland",Consulting,NaN,Data Scientist,Mumbai,3.9,₹500+ billion (INR),"₹ 10,55,493",Business Services,10000+ employees,Company - Public

In [45]:
df2=pd.read_csv("df2.csv")
df2.head()

,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,Size,Type of ownership
0,"o9 Solutions, Inc.\n3.3",-1,2009,"Dallas, TX",Enterprise Software & Network Solutions,Analytics/Data Scientist\n\n\nWe at o9 Solutio...,Analytical consultant/Data Scientist,Bengaluru,3.3,₹1 to ₹5 billion (INR),"₹ 9,58,654",Information Technology,201 to 500 employees,Company - Private
1,Jidoka Technologies,-1,-1,"Chennai, India",-1,We are looking for people with the right blend...,Data Scientist,Chennai,-1.0,Unknown / Non-Applicable,-1,-1,Unknown,Company - Private
2,RedLotus,-1,-1,"Kowloon City, Hong Kong",-1,Responsibilities:\nUndertake preprocessing of ...,Data Scientist,Mumbai,-1.0,Unknown / Non-Applicable,-1,-1,Unknown,Company - Private
3,Amazon\n4.2,"Google, Microsoft, Walmart",1994,"Seattle, WA",Internet,Amazon is investing heavily in building a worl...,Applied Scientist I,Bengaluru,4.2,₹500+ billion (INR),"₹ 14,70,896",Information Technology,10000+ employees,Company - Public
4,OYE Loans\n4.8,-1,-1,"Bengaluru, India",-1,Designation: Analytics Scientist\nExperience: ...,Analytics Scientist,Bengaluru,4.8,Unknown / Non-Applicable,"₹1,350K - ₹1,472K",-1,1 to 50 employees,Company - Private

In [46]:
df3=pd.read_csv("df3.csv")
df3.head()

,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,Size,Type of ownership
0,Innefu Labs Pvt. Ltd.\n4.3,-1,2010,"New Delhi, India",Enterprise Software & Network Solutions,Profile Brief/ Responsibilities\nKeep up-to-da...,DATA SCIENTIST,New Delhi,4.3,Unknown / Non-Applicable,₹899K - ₹968K,Information Technology,51 to 200 employees,Company - Private
1,The Data Team\n4.2,-1,-1,"Singapore, Singapore",-1,The Data Analyst is part of the consulting and...,DATA ANALYST,Bengaluru,4.2,Unknown / Non-Applicable,"₹655K - ₹1,073K",-1,51 to 200 employees,Company - Private
2,String Bio\n4.7,-1,-1,"Bengaluru, India",-1,Position: Research Associate/Research Scientis...,Research Associate/Research Scientist (Downstr...,Bengaluru,4.7,Unknown / Non-Applicable,₹43K - ₹47K,-1,1 to 50 employees,Company - Private
3,Ericsson-Worldwide\n3.9,"Huawei Technologies, IBM, Cisco Systems",1876,"Stockholm, Sweden",Telecommunications Services,"Date: Mar 30, 2020\n\nEricsson Overview:\n\nEr...",Principal Data Scientist - Product Development...,Bengaluru,3.9,₹500+ billion (INR),"₹ 4,77,984",Telecommunications,10000+ employees,Company - Public
4,CareerXperts,-1,-1,"Bangalore, India",-1,The focus of our data science team is to work ...,AI / ML Data Scientist – Democratize commerce ...,India,-1.0,Unknown / Non-Applicable,-1,-1,1 to 50 employees,Company - Private

In [47]:
df4=pd.read_csv("df4.csv")
df4.head()

,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,Size,Type of ownership
0,Guidewire Software\n4.1,"Oracle, Accenture, Duck Creek Technologies",2001,"San Mateo, CA",Computer Hardware & Software,Data Engineer\nGuidewire’s Cyence Risk Analyti...,Data Engineer,Chennai,4.1,₹50 to ₹100 billion (INR),-1,Information Technology,1001 to 5000 employees,Company - Public
1,Franklin Templeton Investments\n3.8,"Fidelity Investments, Vanguard",1947,"San Mateo, CA",Investment Banking & Asset Management,Senior Data Scientist - Mathematical Finance-8...,Senior Data Scientist - Mathematical Finance,Andhra Pradesh,3.8,₹500+ billion (INR),"₹ 11,85,498",Finance,5001 to 10000 employees,Company - Public
2,ARi\n3.3,-1,2006,"East Peoria, IL",Architectural & Engineering Services,JOB DETAILS\nJob Name:Data Analyst\nRequired s...,Data Analyst,Chennai,3.3,₹500 million to ₹1 billion (INR),"₹ 4,25,043",Business Services,501 to 1000 employees,Company - Private
3,SpringML\n4.4,-1,2015,"Pleasanton, CA",Enterprise Software & Network Solutions,"About SpringML\n\nAt SpringML, we are all abou...",Data Engineer,Hyderabad,4.4,Unknown / Non-Applicable,"₹1,493K - ₹1,621K",Information Technology,1 to 50 employees,Company - Private
4,Noriker Power,-1,-1,"Gloucester, United Kingdom",-1,"As a Data Scientist, you will lead the develop...",Data Scientist/Analyst,Odisha,-1.0,Unknown / Non-Applicable,-1,-1,1 to 50 employees,Unknown

In [48]:
df5=pd.read_csv("df5.csv")
df5.head()

,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,Size,Type of ownership
0,Substratal Solutions,-1,-1,"New Delhi, India",-1,Required Skills & Experience\n\nWe are looking...,Data Analyst,Gurgaon,-1.0,Unknown / Non-Applicable,-1,-1,1 to 50 employees,Company - Private
1,Creditvidya\n4.5,-1,2012,"Hyderabad, India",Banks & Building Societies,Job Description\nCreditVidya is looking for br...,Senior Machine Learning Engineer,Hyderabad,4.5,Unknown / Non-Applicable,₹855K - ₹963K,Finance,51 to 200 employees,Company - Private
2,National Legal Services Authority (NALSA),-1,-1,-1,-1,National Legal Services Authoriy (NALSA) invit...,Consultant (Data Analyst),New Delhi,-1.0,-1,-1,-1,-1,-1
3,Knoema\n4.0,-1,-1,"Washington, DC",-1,Requirements\n2+ years of experience in DBMS d...,Data Engineer,Bengaluru,4.0,Unknown / Non-Applicable,₹415K - ₹447K,-1,1 to 50 employees,Company - Private
4,smart4talent,-1,2009,"Faridabad, India",Staffing & Outsourcing,Designation : Data Analyst\nQualification: BA ...,Data Analyst,Mumbai,-1.0,₹10 to ₹50 million (INR),-1,Business Services,1 to 50 employees,Company - Private

In [51]:
original_data=pd.concat([df1,df2,df3,df4,df5],axis=0,ignore_index=True)

In [52]:
original_data.shape

(961, 14)

In [53]:
df1.shape

(161, 14)

In [54]:
df2.shape

(200, 14)

In [55]:
original_data.head(10)

,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,Size,Type of ownership
0,Buckman\n3.5,-1,1945,"Memphis, TN",Chemical Manufacturing,Job Description – Data Scientist\n\nLocation: ...,Data Scientist,Chennai,3.5,₹50 to ₹100 billion (INR),₹27K - ₹29K,Manufacturing,1001 to 5000 employees,Company - Private
1,Blue Yonder\n4.3,"SAP, Oracle, Manhattan Associates",1985,"Scottsdale, AZ",Enterprise Software & Network Solutions,What You Should Expect\n\nTo ride the wave of ...,Data Scientist,Bengaluru,4.3,₹100 to ₹500 billion (INR),"₹1,712K - ₹1,846K",Information Technology,5001 to 10000 employees,Company - Private
2,PayPal\n3.6,"Square, Amazon, Apple",1998,"San Jose, CA",Internet,Provide analytical insights into emerging prob...,Data Scientist,Bengaluru,3.6,₹500+ billion (INR),₹220K - ₹236K,Information Technology,10000+ employees,Company - Public
3,Amazon\n4.2,"Google, Microsoft, Walmart",1994,"Seattle, WA",Internet,"At Amazon, we strive to be most customer-centr...",Data Scientist,Hyderabad,4.2,₹500+ billion (INR),"₹ 15,49,198",Information Technology,10000+ employees,Company - Public
4,Accenture\n3.9,"Cognizant Technology Solutions, EY, McKinsey &...",1989,"Dublin, Ireland",Consulting,NaN,Data Scientist,Mumbai,3.9,₹500+ billion (INR),"₹ 10,55,493",Business Services,10000+ employees,Company - Public
5,IHS Markit\n3.5,"Thomson Reuters, International Data Group",2016,"London, United Kingdom",Consulting,Responsibilities for Data Scientist\nWork with...,Data Scientist,Gurgaon,3.5,₹100 to ₹500 billion (INR),"₹2,001K - ₹2,193K",Business Services,10000+ employees,Company - Public
6,Quanticate\n4.0,"GCE Solutions, Parexel, IQVIA",1995,"Hitchin, United Kingdom",Biotech & Pharmaceuticals,Overview\n\n\nWe have an exciting opportunity ...,Data Scientist,Bengaluru,4.0,₹1 to ₹5 billion (INR),₹409K - ₹449K,Biotech & Pharmaceuticals,201 to 500 employees,Company - Private
7,NICE Actimize\n3.9,"SAS, Feedzai",1999,"Hoboken, NJ",Computer Hardware & Software,Senior Data Scientist\n\nResponsibilities\nCon...,Data Scientist,Pune,3.9,Unknown / Non-Applicable,"₹2,236K - ₹2,439K",Information Technology,501 to 1000 employees,Subsidiary or Business Segment
8,TTEC\n3.4,"Teleperformance, TaskUs, Convergys",1982,"Englewood, CO",Staffing & Outsourcing,"When everything's connected, how we connect is...",Data Scientist,Hyderabad,3.4,₹100 to ₹500 billion (INR),"₹ 24,171/mo",Business Services,10000+ employees,Company - Public
9,Doubtnut\n3.7,-1,2016,"Gurgaon, India",Internet,We are looking for a Data Engineer who will wo...,Data Engineer (ETL),Gurgaon,3.7,Unknown / Non-Applicable,₹17K - ₹19K,Information Technology,51 to 200 employees,Company - Private

In [56]:
original_data.to_csv('original_data.csv', index = False)

### Due to some error script have scrapped some data point many times that makes duplidates in the dataset.We will remove those point fron data set when we do Data Cleaning.